<!-- Begin: browse.tmpl -->

<div class="block">

  <h2>Browser Info</h2>

  <p>
    TODO: Simple explanation for why this looks different.
  </p>

  <p>
    More information
    <a href="http://wiki.geneontology.org/index.php/AmiGO_2">here</a>.
  </p>

  <p>
    Jump to term: 
    <input type="text"
	   class="textBox"
	   name="jumper"
	   size="35"
	   value=""
	   id="jumper" />
    <br />
  </p>

  <p>
    <div id="graph_radio">
      Jump to ontology:
      <input type="radio" id="bp" name="graph_radio" checked="checked" />
      <label for="bp">Biological process</label>
      <input type="radio" id="cc" name="graph_radio" />
      <label for="cc">Cellular Component</label>
      <input type="radio" id="mf" name="graph_radio" />
      <label for="mf">Molecular function</label>
    </div>
  </p>

</div>

<div class="block">
  
  <!-- <h3>Beta features being tested and functional demos:</h3> -->
  
  <h2>Transitive Term Neighborhood</h2>
  <div id="browser_id"></div>
  <div class="clearall"></div>
</div>
<!-- End: browse.tmpl -->
