<!-- Begin: browse.tmpl -->

[% INCLUDE common/noscript_js_necessary.tmpl %]

<div class="block">
  <h2>Browse Ontologies</h2>

  <div id="inf01" class="informational">

    <h3 class="first"><a href="#">Information about Browse</a></h3>
  
    <div>
      
      <p>
	TODO: Simple explanation for why this looks different.
      </p>

      <p>
	More information
	<a href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual">here</a>.
      </p>

    </div>
  </div>

  <p>
    <label for="jumper">Look for term:</label>
    <input type="text"
	   class="textBox"
	   name="jumper"
	   size="35"
	   value=""
	   id="jumper" />
  </p>

  <p>
    <div id="graph_radio">
      Ontology browsing shortcuts:
      <!-- <input type="radio" id="bp" name="graph_radio" checked="checked" /> -->
      <!-- <label for="bp">Biological process</label> -->
      <!-- <input type="radio" id="cc" name="graph_radio" /> -->
      <!-- <label for="cc">Cellular Component</label> -->
      <!-- <input type="radio" id="mf" name="graph_radio" /> -->
      <!-- <label for="mf">Molecular function</label> -->
    </div>
  </p>

  <h3 class="first">Transitive Term Neighborhood</h3>
  <div id="browser_id"></div>
  <div class="clearall"></div>
</div>
<!-- End: browse.tmpl -->
