<!-- START: gannet.tmpl -->

[% INCLUDE common/noscript_js_limited.tmpl %]

  <form action="gannet"
	method="GET"
	name="gannet_form"
	id="gannet_form">
    
    <div class="block">

      [% IF galaxy_url && galaxy_url_external_p %]
      <input type="hidden" name="GALAXY_URL" value="[% galaxy_url %]" />
      [% END %]
      
      <h2>Directly query GO data</h2>
      
      [% rollup_id = "inf01" %]
      [% rollup_anchor = "Information about Gannet" %]
      [% INCLUDE "common/info_rollup_start.tmpl" %]
      <h4>GO Solr (GOlr)</h4>
      <p>
	See some GOlr  <a href="http://wiki.geneontology.org/index.php/Example_Solr_Queries">examples</a> and preliminary <a href="http://geneontology.svn.sourceforge.net/viewvc/geneontology/java/gold/solr/conf/schema.xml?content-type=text%2Fplain">schema</a> information.
      </p>
      <h4>Mirrors</h4>
      <p>
	Select a mirror you believe will perform well for your needs
      </p>
      [% INCLUDE "common/info_rollup_end.tmpl" %]
       
      [% rollup_id = "inf02" %]
      [% rollup_anchor = "Available mirrors" %]
      [% INCLUDE "common/info_rollup_start.tmpl" %]
      <ul>
	[% FOREACH mirror = all_mirrors %]

	<li>
	  <input type="radio" 
		 name="mirror" 
		 value="[% mirror %]" 
		 [% IF my_mirror == mirror %]checked[% END %]
		 class="cbox">
	  <b>
	    <!-- [% IF mirror_info.$mirror.is_alive_p == 0 %][UNAVAILABLE][% END %] -->
	    [% mirror_info.$mirror.label %]
	  </b>:
	  Use the [% IF mirror_info.$mirror.type.search('solr') %]Solr[% ELSIF mirror_info.$mirror.type.search('lead') %]LEAD[% ELSIF mirror_info.$mirror.type.search('gold') %]GOLD[% ELSE %]???[% END %] [% IF mirror_info.$mirror.type.search('full') %]full[% ELSIF mirror_info.$mirror.type.search('lite') %]lite[% END %] [% IF mirror_info.$mirror.class.search('main') %]main[% ELSIF mirror_info.$mirror.class.search('aux') %]auxiliary[% ELSIF mirror_info.$mirror.class.search('exp') %]experimental[% END %] mirror [% mirror_info.$mirror.location %].
	</li>
	
	[% END %]	  
      </ul>	      
      [% INCLUDE "common/info_rollup_end.tmpl" %]

      <h3 class="first">Enter your query (currently a <em>[% IF database_type.search('solr') %]Solr[% ELSIF database_type.search('lead') %]LEAD[% ELSIF database_type.search('gold') %]GOLD[% ELSE %]???[% END %]</em> database):</h3>

      <div>
	<textarea id="query"
		  name="query"
		  cols="80"
		  rows="5">[% query %]</textarea>
      </div>

      <!-- <h3 id="solr_options_click" class="first"><a href="#">Solr options (GOlr)</h3></a> -->
      
      <!-- <div id="solr_options"> -->
	
      <!-- </div> -->

	<!-- Solr -->
	<div style="" id="gannet_golr_example_list">
	  [% IF golr_examples_list %]
	  <!-- Assemble the examples table. -->
	  <select id="gannet_golr_example_selection"
		  class=""
		  style=""
		  size="1">
	    [%    FOREACH ex = golr_examples_list %]
	    [%       value = ex.solr %]
	    [%       title = ex.title %]
	    <option title='[% value %]' 
		    value='[% value %]'>[% title %]</option>
	    [%    END %]
	  </select>
	  [% ELSE %]
	  <!-- Unable to assemble the examples table. -->
	  (The GO Solr wiki page could not be contacted so GOlr examples
	  are not available.)
	  [% END %]
	</div>

      <hr class="clearL">
      <input type="submit" class="button" value="Query!" />
	      
    </div>

  </form>		
	
  [% IF NOT results_count AND results_count == 0 %]
  
  <div class="block">

    <h2>Results</h2>

    <p>Your query did not return any results.</p>

  </div>

  [% ELSIF results_count %]

  <div class="block">

    <h2>Results</h2>

    <p id="results_generated">

      Your query generated      
      [% IF limit AND results_count > limit  %]
      <b>[% limit %]</b>
      (limited from <b>[% results_count %]</b>)
      [% ELSE %]
      <b>[% results_count %]</b>
      [% END %]

      result(s).<br />
      
      [% IF direct_solr_url %]
      Raw Solr <a href="[% direct_solr_url %]"
		  title="Link to full Solr results.">results</a>
      from GOlr server.
      <br />
      [%    IF galaxy_url AND direct_id_url_safe AND direct_all_url_safe %]

      Direct download: <a href="[% direct_id_url_safe %]"
	 title="Downloadable ID results.">ID list</a>
      or <a href="[% direct_all_url_safe %]"
	    title="Download results with all fields.">all fields</a>.
      <br />

      Export to GO Galaxy: 
      <form id="galaxyform"
	    action="[% galaxy_url %]"
	    name="galaxyform"
	    method="POST"
	    target="_blank">
	<input id="URL"
	       type="hidden" name="URL" value="[% direct_id_url_safe %]" />
	<input type="hidden" name="URL_method" value="get">
	<input name="submit" type="submit" value="ID list" />
      </form>
      <form id="galaxyform"
	    action="[% galaxy_url %]" 
	    name="galaxyform"
	    method="POST"
	    target="_blank">
	<input id="URL"
	       type="hidden" name="URL" value="[% direct_all_url_safe %]" />
	<input type="hidden" name="URL_method" value="get">
	<input name="submit" type="submit" value="all fields" />
      </form>
      <br />

      [%    END %]
      [% ELSE %]
    <p>
      No direct URL possible...
    </p>
      [% END %]

    </p>

    <table summary="Query results">
      <thead>
	<tr>
	  
	  [% FOREACH header = results_headers %]
	  <th style="">
	    [% header %]
	  </th>
	  [% END%]
	  
	</tr>
      </thead>

      <tbody>

	[% eo = 0 %]
	[% FOREACH row = results %]
	[%    IF eo % 2 == 0 %]
	<tr class="even_row">
	  [%  ELSE %]
	<tr class="even_odd">
	  [%  END %]
	  [%  FOREACH col = row %]
	  <td rowspan="1">
	    [%   col %]
	  </td>
	  [%  END %]
	</tr>
	[%    eo = eo + 1 %]
	[% END %]
      </tbody>
    </table>

    <p class="toTop">
      <a href="#top" title="Back to the top of the page">Back to top</a>
    </p>

  </div>
  
  [% END %]
<!-- END: gannet.tmpl -->
