<!-- START: goose.tmpl -->
  <form action="goose"
	method="GET"
	name="goose_form"
	id="goose_form">
    
    <div class="block">

      <!--
	  <input type="hidden" name="database" value="1" />
	  -->
      
      <h2>Directly query GO data</h2>
      
      <h3 id="information_click" class="first"><a href="#">Information</a></h3>
      
      <div id="information">

	<b>General SQL</b>
	<p>
	  If your query takes a long time or returns a blank screen,
	  you may want to try the download option. If your query is
	  long-running or fails, you may also want to try a "lite"
	  database from the mirror selection.
	</p>

	<b>LEAD SQL</b>
	<p>
	  See some LEAD SQL <a href="http://wiki.geneontology.org/index.php/Example_Queries">examples</a> and learn more about the LEAD <a href="http://www.geneontology.org/GO.database.shtml" title="LEAD database schema documentation">schema</a>.
	</p>

	<b>GOLD SQL</b>
	<p>
	  Learn more about the experimental GOLD <a href="http://www.geneontology.org/GO.gold.schema.shtml" title="GOLD database schema documentation">schema</a>.<br />
	</p>

	<b>GO Solr (GOlr)</b>
	<p>
	  See some GOlr  <a href="http://wiki.geneontology.org/index.php/Example_Solr_Queries">examples</a>. Preliminary <a href="http://geneontology.svn.sourceforge.net/viewvc/geneontology/java/gold/solr/conf/schema.xml?content-type=text%2Fplain">schema</a> information.
	</p>
      </div>
       
      <h3 id="mirrors_click" class="first"><a href="#">Available mirrors (choose between LEAD, GOLD, and GOlr)</a></h3>
      
      <div id="mirrors">
	
	<ul>

	  [% FOREACH mirror = all_mirrors %]

	  <li[% IF mirror_info.$mirror.is_exp_p %] style="color:#999999"[% END %]>
	    <input type="radio" 
		   name="mirror" 
		   value="[% mirror %]" 
		   [% IF my_mirror == mirror %]checked[% END %]
		   class="cbox">
	    <b>
	      [% IF mirror_info.$mirror.is_alive_p == 0 %][UNAVAILABLE][% END %]
	      [% mirror_info.$mirror.label %]
	    </b>:
	    [% IF mirror_info.$mirror.is_alive_p == 1 %]
	    Use the database mirror [% mirror_info.$mirror.location %]
	    <small>Last updated on [% mirror_info.$mirror.release_name %]
	    ([% dbrt = mirror_info.$mirror.release_type; IF dbrt == 'termdb' OR dbrt == 'assocdb' OR dbrt == 'seqdb' OR dbrt == 'full' %]<a title="Go to GO database type documentation." href="http://geneontology.org/GO.database.shtml#dbtypes">[% dbrt %]</a>[% ELSE %][% dbrt %][% END %]).</small>
	    [% ELSE %]
	    Please check back later...
	    [% END %]
	  </li>

	  [% END %]
	  
	</ul>	      
      </div>

      <h3 class="first">Enter your query:</h3>

      <div>
	<textarea id="query"
		  name="query"
		  cols="80"
		  rows="5">[% query %]</textarea>
      </div>

      <h3 id="sql_options_click" class="first"><a href="#">SQL options (LEAD and GOLD)</h3></a>
      
      <div id="sql_options">
	
	<p>
	  Options only for use when making queries against an SQL database.
	</p>

	<div style="" id="goose_lead_example_list">
	  [% IF lead_examples_list %]
	  <!-- Assemble the examples table. -->
	  <select id="goose_lead_example_selection"
		  class=""
		  style=""
		  size="1">
	    [%    FOREACH ex = lead_examples_list %]
	    [%       value = ex.sql %]
	    [%       title = ex.title %]
	    <option title="[% value %]" 
		    value="[% value %]">[% title %]</option>
	    [%    END %]
	  </select>
	  [% ELSE %]
	  <!-- Unable to assemble the examples table. -->
	  (The GO LEAD SQL wiki page could not be contacted so LEAD SQL examples
	  are not available.)
	  [% END %]
	</div>

	Limit the number of results returned:
	<select name="limit" size="1">
	  <option
	     title="10" 
	     value="10" 
	     [% IF limit == 10 %]selected[% END %]
	     class="" >10</option>
	  <option
	     title="100" 
	     value="100" 
	     [% IF limit == 100 %]selected[% END %]
	     class="">100</option>
	  <option
	     title="1000" 
	     value="1000" 
	     [% IF limit == 1000 %]selected[% END %]
	     class="">1000</option>
	  <option
	     title="10000" 
	     value="10000" 
	     [% IF limit == 10000 %]selected[% END %]
	     class="">10000</option>
	  <option
	     title="unlimited" 
	     value="0" 
	     [% IF limit == 0 %]selected[% END %]
	     class="">unlimited</option>
	</select>

	<br />

	<div>
          Download results directly in a text format
	  <input class="cbox" type="checkbox" name="format" value="text" />
	</div>
	
      </div>

      <h3 id="solr_options_click" class="first"><a href="#">Solr options (GOlr)</h3></a>
      
      <div id="solr_options">
	
	<div style="" id="goose_golr_example_list">
	  [% IF golr_examples_list %]
	  <!-- Assemble the examples table. -->
	  <select id="goose_golr_example_selection"
		  class=""
		  style=""
		  size="1">
	    [%    FOREACH ex = golr_examples_list %]
	    [%       value = ex.solr %]
	    [%       title = ex.title %]
	    <option title='[% value %]' 
		    value='[% value %]'>[% title %]</option>
	    [%    END %]
	  </select>
	  [% ELSE %]
	  <!-- Unable to assemble the examples table. -->
	  (The GO Solr wiki page could not be contacted so GOlr examples
	  are not available.)
	  [% END %]
	</div>

      </div>

      <hr class="clearL">
      <input type="submit" class="button" value="Query!" />
	      
    </div>

  </form>		
	
  [% IF NOT results_count AND results_count == 0 %]
  
  <div class="block">

    <h2>Results</h2>

    <p>Your query did not return any results.</p>

  </div>

  [% ELSIF results_count %]

  <div class="block">

    <h2>Results</h2>

    <p id="results_generated">

      Your query generated      
      [% IF limit AND results_count > limit  %]
      <b>[% limit %]</b>
      (limited from <b>[% results_count %]</b>)
      [% ELSE %]
      <b>[% results_count %]</b>
      [% END %]

      result(s).<br />
      
      [% ## Using this to detect Solr vs. SQL. %]
      [% IF direct_solr_url %]
      Full Solr results: <a href="[% direct_solr_url %]"
	 title="Link to full Solr results.">[% direct_solr_url %]</a>
      <br />
      [% ELSE %]

      [%   IF terms_count > 0 AND terms_limit > terms_count %]
      <a href="[% viz_link %]"
	 title="Visualize the terms found in this query.">
	Visualize</a>
      the terms found in this query.
      [%   ELSIF terms_count > 0 %]
      <a href="[% viz_link %]"
	 title="Visualize the first [% terms_count %] terms found in this query.">
	Visualize</a>
      the first [% terms_count %] terms found in this query.
      [%   END %]
      
      <form style="display: inline;"
	    action="goose"
	    method="GET"
	    name="goose_form"
	    id="goose_form">
	<input type="hidden" name="mirror" value="[% my_mirror %]" />
	<input type="hidden" name="query" value="[% query %]" />
	<input type="hidden" name="limit" value="[% limit %]" />
	<input type="hidden" name="format" value="text" />
	<input type="submit"
	       class="button"
	       value="Download in a text format" />
      </form>

      [% END %]

    </p>

    <table summary="Query results">
      <thead>
	<tr>
	  
	  [% FOREACH header = results_headers %]
	  <th style="">
	    [% header %]
	  </th>
	  [% END%]
	  
	</tr>
      </thead>

      <tbody>

	[% eo = 0 %]
	[% FOREACH row = results %]
	[%    IF eo % 2 == 0 %]
	<tr class="even_row">
	  [%  ELSE %]
	<tr class="even_odd">
	  [%  END %]
	  [%  FOREACH col = row %]
	  <td rowspan="1">
	    [%   col %]
	  </td>
	  [%  END %]
	</tr>
	[%    eo = eo + 1 %]
	[% END %]
      </tbody>
    </table>

    <p class="toTop">
      <a href="#top" title="Back to the top of the page">Back to top</a>
    </p>

  </div>
  
  [% END %]
<!-- END: goose.tmpl -->
