<!-- START: grebe.tmpl -->

[% INCLUDE common/noscript_js_limited.tmpl %]

<div class="block">

  [% IF galaxy_url && galaxy_url_external_p %]
  <input type="hidden" name="GALAXY_URL" value="[% galaxy_url %]" />
  [% END %]
  
  <h2>Ask Grebe</h2>
  
  <h3 id="information_click" class="first"><a href="#">Instructions</a></h3>
  
  <div id="information">
    
    <h4>Grebe</h4>
    <p>
      Freshwater diving bird.
    </p>
    <p>
      Fill in the necessary blank columns and hit the go icon at
      the end of the question.
    </p>
    
  </div>
  
  <!-- <h3 class="first">Find your query from the list:</h3> -->
  
  <div>
    <!-- <input type="submit" class="button" value="Query!" /> -->
    
    <ul>
      <!-- <li> -->
      <!-- 	<p id="foo1"> -->
      <!-- 	  What are the direct annotations to term <input id="bar1" style="border:1px solid black;">? -->
      <!-- 	  <img class="grebe-action-icon" -->
      <!-- 	       height="25px" -->
      <!-- 	       style="vertical-align:middle;" -->
      <!-- 	       title="Jump to AmiGO 2 Search" -->
      <!-- 	       alt="[search]" -->
      <!-- 	       src="[% image_dir %]/info-jump.png" /> -->
      <!-- 	</p> -->
      <!-- </li> -->
      [% IF questions %]
      [%    eo = 0 %]
      [%    FOREACH q = questions %]
      [%       IF eo % 2 == 0 %]
      <li class="even_row">
      [%       ELSE %]
      <li class="odd_row">
	[%     END %]
	[%     eo = eo + 1 %]
	[%     q.question %]
      </li>
      [%    END %]
      [% END %]
    </ul>
    
  </div>
  
  <hr class="clearL">
  
</div>

<!-- END: grebe.tmpl -->
