<!-- Begin: landing.tmpl -->

<div style="text-align:center">

[% INCLUDE common/landing_search_form.tmpl %]

</div>

<br />

[% INCLUDE common/noscript_js_limited.tmpl %]

[% INCLUDE common/noscript_js_limited_search.tmpl %]

<div class="block">

  <h2>About AmiGO 2</h2>

  <p>
    AmiGO 2 is currently a development project to create the next
    generation of AmiGO--a set of official web-based set of tools
    for searching and browsing the Gene Ontology data.
    See the
    <a href="http://wiki.geneontology.org/index.php/AmiGO_Labs">AmiGO Labs</a>
    page for the usual caveats about beta software.
  </p>

  <p>
    More information about AmiGO 2
    <a href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual">here</a>.
  </p>
  
</div>

<div class="block">

  <!-- <h3>Beta features being tested and functional demos:</h3> -->
  
  <h2>Current Gene Ontology annotation information</h2>
  <div>
    <span style="float: left;" id="graph_01">Contacting server...&nbsp;</span>
    <span style="float: left;" id="graph_02">Contacting server...&nbsp;</span>
    <span style="float: left;" id="graph_03">Contacting server...&nbsp;</span>
    
    <div class="clearall"></div>
  </div>
</div>

  [% IF BETA == 1 %]

  <!-- <div class="block"> -->
  <!-- </div> -->
    
  [% END %]
<!-- End: landing.tmpl -->
