<!-- START: live_search_golr.tmpl -->

[% INCLUDE common/noscript_js_necessary.tmpl %]

[% INCLUDE common/noscript_js_limited_search.tmpl %]

<div class="block">

  <h2>Searches in AmiGO</h2>
  
  <p>
    Live Search will return results from the Gene Ontology as you
    type. No results will be returned until the search input is at
    least three characters. After that, you may also use the filters
    to limit or reduce the results.
  </p>
  
  <p>
    For a detailed explanation on how to search, a list of what fields
    can be used in the search string, or an explanation for how to get
    the results you want, please view the AmiGO documentation.
    <!-- <a title="Go to Search documentation" -->
    <!--    href="http://wiki.geneontology.org/index.php/AmiGO_Manual:_Live_Search">Live Search documentation</a>. -->
  </p>
  
  <p>
    Select a search template:
    <div id="search_radio">
      <!-- <input type="radio" id="bbop_ann" name="search_radio" checked="checked" /> -->
      <!-- <label for="bbop_ann">Associations</label> -->
      <!-- <input type="radio" id="bbop_ont" name="search_radio" /> -->
      <!-- <label for="bbop_ont">Ontology</label> -->
      <!-- <input type="radio" id="bbop_bio" name="search_radio" /> -->
      <!-- <label for="bbop_bio">Gene products</label> -->
      <!-- <input type="radio" id="bbop_ann_ev_agg" name="search_radio" /> -->
      <!-- <label for="bbop_ann_ev_agg">Annotation evidence aggregate</label> -->
      [% FOREACH infi IN search_tab_info %]
      <input type="radio"
	     name="search_radio"
             id="[% infi.id %]"
             value="[% infi.id %]"
      [%    IF starting_golr_class == infi.id %]
	     checked="yes" />
      [%    ELSE %]
             />
      [%    END %]
      <label for="[% infi.id %]">[% infi.display_name %]</label>
      [% END %]
    </div>
  </p>

  <!-- <p> -->
  <!--   <img src="[% STAR_IMAGE %]" -->
  <!-- 	   alt="Belongs to a homolog set." /> -->
  <!--   indicates that the gene product is a member of a -->
  <!--   <a href="http://www.geneontology.org/GO.refgenome.shtml">homolog set</a>. -->
  <!--   Click on the gene product id link for more information. -->
  <!-- </p> -->
  
  <!-- please read the -->
  <!--      <a id="tiptarget" -->
  <!-- 	 title="Explanation of query syntax" -->
  <!-- 	 href="http://lucene.apache.org/java/1_4_3/queryparsersyntax.html">query syntax</a> documentation. -->
  
</div>

<!-- Display tabbing. -->
<div id="display-tabs" class="block">
  <h2>Search</h2>
  
  <!-- <ul> -->
  <!--   <li> -->
  <!--     <a href="#display-general-search" -->
  <!-- 	 class="override"><span>Search</span></a> -->
  <!--   </li> -->
  <!-- </ul> -->

  <div id="display-general-search">
    Pending...
  </div>
  
  <div class="clearall"></div>
  
</div>

<!-- END: live_search_golr.tmpl -->
