<!-- Begin: load_details.tmpl -->
  <div class="block">

    <h2>Current instance load information</h2>
    
    [% IF TS_DETAILS_P %]

    <h4>Ontologies</h4>
    [%   IF TS_DETAILS_ONT AND TS_DETAILS_ONT.size > 0 %]
    [%      list_table_id = "details_ont" %]
    [%      load_detail_list = TS_DETAILS_ONT %]
    [%      INCLUDE "common/load_detail_list.tmpl" %]
    [%   ELSE %]
    <p>
      No details about loaded ontologies could be found.
    </p>
    [%   END %]
    
    <h4>GAFs</h4>
    [%   IF TS_DETAILS_GAF AND TS_DETAILS_GAF.size > 0 %]
    [%      list_table_id = "details_gaf" %]
    [%      load_detail_list = TS_DETAILS_GAF %]
    [%      INCLUDE "common/load_detail_list.tmpl" %]
    [%   ELSE %]
    <p>
      No details about loaded GAFs could be found.
    </p>
    [%   END %]
    <!-- <br /> -->
    
    [% ELSE %]
    <p>
      Detailed load information is not available for this AmiGO 2
      instance at this time.
    </p>
    [% END %]
    
  </div>
<!-- End: load_details.tmpl -->
