<!-- Start: matrix.tmpl -->

<p>Order:
  <select id="order">
    <option value="name">by term name</option>
    <option value="source">by ontology</option>
    <option value="id">by term id</option>
    <option value="count">by co-annotation count</option>
    <option value="index" selected="selected">by input index</option>
  </select>
</p>

<div id="matrix_results" style="text-align: center;" />

<div id="info" style="position:absolute; background-color:#aabbbb; border-style:solid; border-width:2px; border-color:black; text-align:left; padding: 1.5em;" />

<!-- End: matrix.tmpl -->
