<!-- START: pgraph.tmpl -->

<div class="contents">
  <div class="block">
    <h2>Experimental trees</h2>

    <div id='test0'></div>
    <div id='test1'></div>
    <div id='test2' style='width: 500px;'></div>
    <div id='test3'></div>

  </div>
</div>

<!-- END: pgraph.tmpl -->
