<!-- START: repl.tmpl -->

<h2>GOlr/BBOP JS REPL</h2>

<!-- <div class="contents"> -->
<div>
  <div id="repl" style="padding:1.5em;">
    Waiting for server response.
  </div>
</div>

<!-- END: repl.tmpl -->
