<!-- START: repl.tmpl -->

<div class="block">

  <h2>GOlr/BBOP JS REPL</h2>

  <p>This REPL makes use of the a simplified environment described
    <a href="http://wiki.geneontology.org/index.php/Example_GOlr_Sessions#Startup_code_for_REPL_environment.">here</a>. The cost of this easier environment is that
  some things are now a little bit more GO-specific (but don't worry,
  you still have access to the full stack).</p>

  <!-- <div class="contents"> -->
  <div>
    <table>
      <tr>
	<td>
	  <div id="repl-div">
	    Waiting for server response.
	  </div>
	</td>
	<td width="100%">
	  <div class="block">
	    <p>
	      The alpha API documentation can be current found
	      <a href="http://cdn.berkeleybop.org/jsapi/bbop-js/docs/index.html">here</a>.
	      <br />
	      Examples scraped from wiki
	      <a href="http://wiki.geneontology.org/index.php/Example_GOlr_Sessions">sessions example</a> page:
	    </p>
	    <p>
	      <select id="golr_session_example_selection">
		[% FOREACH item IN bbop_js_examples_list %]
		<option value="[% item.bbopjs %]">
		  [% item.title %]
		</option>
		[% END %]
	      </select>
	    </p>
	  </div>
	  <div>
	    <p>
	      <div id="div1"><b>[Useable div: id="div1"]</b></div>
	      <div id="div2"><b>[Useable div: id="div2"]</b></div>
	      <div id="div3"><b>[Useable div: id="div3"]</b></div>
	    </p>
	  </div>
	</td>
      </tr>
    </table>
  </div>
</div>

<!-- END: repl.tmpl -->
