<!-- START: simple_search.tmpl -->
[% USE HTML %]

<div class="block">
  <h2>Search</h2>
  
  <form action="[% base %]/amigo" id="landing-form" method="GET">
    <label for="query">Search GO</label>
    <br />
    <input type="hidden"
	   name="mode"
	   value="simple_search" />
    <input type="text"
	   class="textBox"
	   name="query"
	   size="35"
	   value="[% query %]"
	   id="query" />
    <br />
    <input type="submit" class="button" />
  </form>

</div>

<div class="block">
  <h2>Search Results</h2>
  
  [% IF results_p == 0 %]
  <p>
    No results were found for "[% HTML.escape(query) %]".
    <br />
    Please search again.
  </p>
  [% ELSE %]
  <p>
    TODO: Found something!
    Maybe share a generic page with GOOSE? Or steal GOOSE's?
  </p>
  [% END %]

</div>

<!-- <noscript> -->
<!--   <div class="block warning"> -->
<!--     <h2>Notice</h2> -->
<!--     <p> -->
<!-- 	Currently, the functionality of this page depends on -->
<!-- 	Javascript. To use this page, enable JavaScript in your -->
<!-- 	browser and reload. -->
<!--     </p> -->
<!--   </div> -->
<!-- </noscript> -->

<!-- TODO/DEBUG: remove this later on. -->
<!-- <div> -->
<!--   DEBUG: <span id="DEBUG"></span> -->
<!-- </div> -->

<!-- END: simple_search.tmpl -->
