<!-- START: simple_search.tmpl -->

<div class="block">
  <h2>Searches in AmiGO</h2>
  
  <p>
    You searched!
  </p>
  
</div>

<!-- <noscript> -->
<!--   <div class="block warning"> -->
<!--     <h2>Notice</h2> -->
<!--     <p> -->
<!-- 	Currently, the functionality of this page depends on -->
<!-- 	Javascript. To use this page, enable JavaScript in your -->
<!-- 	browser and reload. -->
<!--     </p> -->
<!--   </div> -->
<!-- </noscript> -->

<!-- TODO/DEBUG: remove this later on. -->
<div>
  DEBUG: <span id="DEBUG"></span>
</div>

<!-- END: simple_search.tmpl -->
