<!-- START template: term_details.tmpl -->
  
  <ul id="navPage" class="inline C">
    [% IF TERM_INFO.is_obsolete == 'true' %]
    <li><a href="#info" title="View obsolete term information">(Obsolete) Term information <img src="[% image_dir %]/down.png" alt="Obsolete term information link"></a></li>
    [% ELSE %]
    <li><a href="#info" title="View term information">Term information <img src="[% image_dir %]/down.png" alt="Term information link"></a></li>
    <li><a href="#lineage" title="View the placement of the term in the tree">Term neighborhood <img src="[% image_dir %]/down.png" alt="Term neighborhood link"></a></li>
    <li><a href="#xrefs" title="View cross-references to external databases">External references <img src="[% image_dir %]/down.png" alt="External references link"></a></li>
    [% END %]
  </ul>

  [% IF TERM_INFO.is_obsolete == 'true' %]
  <!-- <div class="block warning" id="info"> -->
  <div class="block obsolete" id="info">
    <h2>(Obsolete) Term Information</h2>
  [% ELSE %]
  <div class="block" id="info">
    <h2>Term Information</h2>
  [% END %]

    <dl class="term-info">

      <!-- Acc and ont. -->
      <dt>Accession</dt>
      <dd class="acc">[% TERM_INFO.acc %]</dd>
      <dt>Ontology</dt>
      <dd class="type">[% TERM_INFO.ontology_readable %]</dd>
      
      <!-- Synonyms -->
      <dt>Synonyms</dt>
      [% al = TERM_INFO.alternate_ids %]
      [% sl = TERM_INFO.synonyms %]
      [% IF sl.size == 0 AND al.size == 0 %]
      <dd>None</dd>
      [% ELSE %]
      [%    FOREACH alth IN al %]
      <dd class="syn"><b>alt. id</b>: [% alth %]</dd>
      [%    END %]
      [%    FOREACH synh IN sl %]
      <!-- BUG/TODO: Like this when we have scope available. -->
      <!-- <dd class="syn">[% IF synh.scope %]<span class="type">[% synh.scope %]</span>: [% END %][% synh.acc %]</dd> -->
      <dd class="syn">[% synh %]</dd>
      [%    END %]
      [% END %]

      <!-- Definition -->
      <dt>Definition</dt>
      [% wikipedia_label = "" %]
      [% wikipedia_link = "" %]
      [% IF TERM_INFO.definition %]
      <dd class="def">[% TERM_INFO.definition %]
	[% IF TERM_INFO.term_dbxref_links && TERM_INFO.term_dbxref_links.size > 0 %]
	<br /><i>Source:</i>
	[%    txref_count = TERM_INFO.term_dbxref_links.size %]
	[%    txref_counter = 1 %]
	[%    FOREACH txref_link = TERM_INFO.term_dbxref_links %]
	[%      href = txref_link.link %]
	[%      vis = txref_link.id %]
	[%      IF txref_link.dbname == "URL" %]
	[%         href = txref_link.key %]
	[%         vis = txref_link.key %]
	[%      END %]
	[%      IF txref_link.dbname == "Wikipedia" %]
	[%         wikipedia_label = txref_link.key %]
	[%         wikipedia_link = txref_link.link %]
	[%      END %]
	[%      IF  txref_link.dbname == 'PMID' || txref_link.dbname == 'DOI' %]<cite class="paper">[% ELSE %]<cite>[% END %][% IF href %]<a title="Go to [% vis %]" href="[% href %]">[% vis %]</a>[% ELSE %][% txref_link.id %][% END %]</cite>[% IF txref_counter < txref_count; txref_counter = txref_counter + 1 %],[% END %]
       [%    END %]
       [% ELSE %]
       [source: unknown]
       [% END %]
     </dd>
     [% ELSE %]
     <dd>None</dd>
     [% END %]

     <!-- Comment. -->
     <dt>Comment</dt>
     [% IF TERM_INFO.comment %]
     <dd class="comment">[% TERM_INFO.comment %]</dd>
     [% ELSE %]
     <dd class="comment">None</dd>
     [% END %]
     [% FOREACH rbi IN TERM_INFO.replaced_by_info %]
     <dd class="replaced_by">
       <b>replaced by</b>:
       <a href="[% rbi.link %]">[% rbi.acc %]</a>
       <!-- <a href="[% rbi.link %]">[% rbi.acc %]; [% rbi.name %]</a> -->
     </dd>
     [% END %]
     [% FOREACH cni IN TERM_INFO.consider_info %]
     <dd class="consider">
       <b>consider</b>:
       <a href="[% cni.link %]">[% cni.acc %]</a>
       <!-- <a href="[% cni.link %]">[% cni.acc %]; [% cni.name %]</a> -->
     </dd>
     [% END %]

     <!-- Subsets -->
     <dt>Subset</dt>
     [% IF TERM_INFO.subsets.size != 0 %]
     <dd><ul class="subset">
	 [% FOREACH sub = TERM_INFO.subsets %]
	 [% #   TODO/BUG: need more info through for links %]	 
	 [% #   IF sub.search('goslim') %]
	 <!-- <li><a href="[% sub.link %]" title="View details of the [% sub.name %] GO slim">[% sub.name %]</a></li> -->
	 [% #   ELSE %]
	 <!-- <li>Unavailable</li> -->
	 <li>[% sub %]</li>
	 [% #   END %]
	 [% END %]
     </ul></dd>
     [% ELSE %]
     <dd>None</dd>
     [% END %]
     
      <dt>Related</dt>
      <dd><span id="related-terms-span">Not available</span></dd>
		
     [% # Note that wikipedia is in here too...rename community? %]
     [% INCLUDE common/term_details_community.tmpl %]

   </dl>

   <p class="toTop">
     <a href="#top" title="Back to the top of the page">Back to top</a> 
   </p>
 </div>
 
 <!-- Hrm... -->
 [% UNLESS TERM_INFO.is_obsolete == 'true' %]
 [% # IF graph %]
 [% IF 1 == 1 %]

 <noscript>
   <div class="block warning">
     <h2>Notice</h2>
     <p>
       Enable JavaScript in your browser and reload for advanced features.
     </p>
   </div>
 </noscript>

 <div class="block" id="lineage">
   <h2>Term Neighborhood for [% TERM_INFO.name %] ([% TERM_INFO.acc %])</h2>
   
   <!-- Holder for term gp filters. -->
   <!-- <div id="gp-count-filters" class="filters"> -->
   <!-- <div id="gp-count-filters" class="block warning"> -->
   <!--   <h2>Notice</h2> -->
   <!--   <p> -->
   <!--     Enable JavaScript in your browser and reload for gene product -->
   <!--     count filters and links. -->
   <!--   </p> -->
   <!-- </div> -->

   <!-- Display tabbing. -->
   <div id="display-tabs" style="font-size:100%;">
     <ul>
       <li>
	 <a href="#display-associations"
	    class="override"><span>Associations</span></a>
       </li>
       <li>
	 <a href="#display-qg"
	    class="override"><span>Graph Views</span></a>
       </li>
       <li>
	 <a href="#display-sentences"
	    class="override"><span>Ancestors and Children</span></a>
       </li>
       <li>
	 <a href="#display-graph"
	    class="override"><span>Inferred Tree View</span></a>
       </li>
       <!-- <li> -->
       <!-- 	 <a href="#display-out" -->
       <!-- 	    class="override"><span>Other Views</span></a> -->
       <!-- </li> -->
       <!-- <li> -->
       <!-- 	 <a href="#display-down" -->
       <!-- 	    class="override"><span>Downloads</span></a> -->
       <!-- </li> -->
       <li>
	 <a href="#display-xref"
	    class="override"><span>Mappings</span></a>
       </li>
     </ul>

     <!-- -->
     <div id="display-associations">
       Contacting server...
     </div>

     <div id="display-qg">
	[% # IF QUICKGO_ENGINE_P %]
	<p>
	  View this term in
	  <a href="[% QUICKGO_TERM_LINK %]"
	     title="Go to the QuickGO term page for [% TERM_INFO.acc %]">QuickGO</a>.
	</p>
	<p>
	  <a class="override"
	     href="[% QUICKGO_TERM_LINK %]"
	     title="Go to the QuickGO term page for [% TERM_INFO.acc %]">
	    <img src="[% VIZ_QUICKGO_LINK %]"
		 alt="Graph of [% TERM_INFO.acc %] from QuickGO" />
	  </a>
	</p>

	<p>
	  <ul>
	    <li><b>Additional external viewing options</b></li>
	    <li><a href="[% OLSVIS_GO_LINK %]"
		   title="View the graph in the OLSVis viewer">OLSVis (interactive)</a></li>
	  </ul>
	  <ul>
	    <li><b>Additional internal viewing options</b></li>
	    <!-- TODO: do this with breadcrumbsy string (taken from REST URL) --> 
	    <!-- <li>Last action: [% last_action || 'unknown' %]</li> -->
	    <li><a href="[% VIZ_STATIC_LINK %]"
		   title="View the graph as a static PNG image">Graphical view (PNG)</a></li>
	    <li><a href="[% VIZ_DYNAMIC_LINK %]"
		   title="View the graph as an interactive SVG+JS document">Graphical view (SVG)</a></li>
	    <!-- One day this will be out of experimental. -->
	    <!-- <li><a href="[% NAVIGATION_LINK %]" -->
		 <!-- 	      title="Navigate the GO, using the current term as a seed">GO Navigation</a></li> -->
	  </ul>
	</p>       

	[% # ELSE %]
	<!-- <p> -->
	<!--   <a class="override" -->
	<!--      href="[% VIZ_STATIC_LINK %]" -->
	<!--      title="Stand-alone graphic for [% TERM_INFO.acc %]"> -->
	<!--     <img src="[% VIZ_STATIC_LINK %]" -->
	<!-- 	 alt="Graph of [% TERM_INFO.acc %]" /> -->
	<!--   </a> -->
	<!-- </p> -->
	[% # END %]
      </div>

     <div id="display-graph">

       <!-- <h4>Term lineage for [% TERM_INFO.name %], including inferred links:</h4> -->

       <ul>
	 <!-- <li> -->
	 <!-- 	 <h4>[[% TERM_INFO.acc %]] [% TERM_INFO.name %]:</h4> -->
	 <!-- </li> -->

	 [% d = 0 %]
	 [% IF PARENT_CHUNKS_BY_DEPTH && MAX_DEPTH > 0 %]
	 [%    WHILE d <= MAX_DEPTH %]
         [%       IF PARENT_CHUNKS_BY_DEPTH.$d %]
         [%          ANCESTOR_CHUNKS = PARENT_CHUNKS_BY_DEPTH.$d %]
         [%          FOREACH anc IN ANCESTOR_CHUNKS %]
         [%             tmp_acc = anc.acc %]
         [%             graph_entry = anc %]
         [%             number_of_spaces = d %]
         [%             INCLUDE common/term_details_entry.tmpl %]
         [%          END %]
         [%       END %]
         [%       d = d + 1 %]
         [%    END %]
         [% ELSE %]
         [%    d = d + 1 %]
         [% END %]

         [% graph_entry = TERM_INFO %]
         [% number_of_spaces = d - 1 %]
         [% override_image = image_dir _ "/" _ "term_lineage_wedge.png" %]
         [% override_title = "Current term" %]
         [% override_link = "1" %]
         [% override_bold = "1" %]
         [% tmp_acc = graph_entry.acc %]
         [% INCLUDE common/term_details_entry.tmpl %]
         [% # Reset subroutine values. %]
         [% override_image = "" %]
         [% override_title = "" %]
         [% override_link = "" %]
         [% override_bold = "" %]

         [% IF CHILD_CHUNKS && CHILD_CHUNKS.size > 0 %]
         [%    FOREACH desc IN CHILD_CHUNKS %]
         [%       tmp_acc = desc.acc %]
         [%       graph_entry = desc %]
         [%       number_of_spaces = d %]
         [%       INCLUDE common/term_details_entry.tmpl %]
         [%    END %]
         [% ELSE %]
         [% END %]
       </ul>
     </div>

     <!-- -->
     <div id="display-sentences">

      [% IF PARENT_CHUNKS_BY_DEPTH && MAX_DEPTH > 0 %]

       <table id="all-table-above"
	      style="border-collapse: collapse;"
	      cellpadding="0" cellspacing="0">

	 <caption>
	   Ancestors of [% TERM_INFO.name %] ([% TERM_INFO.acc %])
	 </caption>

	 [% INCLUDE common/term_details_neighborhood_head.tmpl %]

	 <tbody>
       
	   [%    eo_rows = 0 %]
           [%    d = 0 %]
           [%    WHILE d <= MAX_DEPTH %]
           [%       IF PARENT_CHUNKS_BY_DEPTH.$d %]
           [%          ANCESTOR_CHUNKS = PARENT_CHUNKS_BY_DEPTH.$d %]
           [%          FOREACH anc IN ANCESTOR_CHUNKS %]
           [%             subject_chunk = TERM_INFO %]
           [%             object_chunk = anc %]
           [%             even_odd_rows = eo_rows %]
           [%             munge_id_tail = "_a" %]
           [%             count_type = "object" %]
           [%             tmp_acc = anc.acc %]
           [%             INCLUDE common/term_details_re_row.tmpl %]
           [%             eo_rows = eo_rows + 1 %]
           [%          END %]
           [%       END %]
           [%       d = d + 1 %]
           [%    END %]

	 </tbody>

       </table>

       [% ELSE %]

       <p>
	 This term has no ancestors.
       </p>

       [% END %]

       [% IF CHILD_CHUNKS && CHILD_CHUNKS.size > 0 %]

       <table id="all-table-below"
	      style="border-collapse: collapse;"
	      cellpadding="0" cellspacing="0">

	 <caption>
	   Children of [% TERM_INFO.name %] ([% TERM_INFO.acc %])
	 </caption>

	 [% INCLUDE common/term_details_neighborhood_head.tmpl %]

	 <tbody>
       
	   [%    eo_rows = 0 %]
           [%    FOREACH desc IN CHILD_CHUNKS %]
           [%       subject_chunk = desc %]
           [%       object_chunk = TERM_INFO %]
           [%       even_odd_rows = eo_rows %]
           [%       munge_id_tail = "_a" %]
           [%       count_type = "subject" %]
           [%       tmp_acc = desc.acc %]
           [%       INCLUDE common/term_details_re_row.tmpl %]
           [%       eo_rows = eo_rows + 1 %]
           [%    END %]

	 </tbody>

       </table>

       [% ELSE %]

       <p>
	 This term has no children.
       </p>

       [% END %]

     </div>

      <div id="display-xref">
	
 	<b>External references</b>
	[% IF TERM_INFO.dbxref_links && TERM_INFO.dbxref_links.size > 0 %]
	[% xref_hash = {} %]
	[% FOREACH xref = TERM_INFO.dbxref_links;
        db = xref.dbname;
        IF xref_hash.$db;
        xref_list = xref_hash.$db;
        xref_list.push(xref);
        xref_hash.$db = xref_list;
        ELSE;
        xref_list = [];
        xref_list.push(xref);
        xref_hash.$db = xref_list;
        END;
	END %]
	<dl class="ext-ref">
	  [% FOREACH db =  xref_hash.keys.sort %]
	  <dt>
	    <!-- <a class="img" -->
	    <!-- 	 href="#[% db %]"><img src="[% image_dir %]/toggle-open.gif" -->
	    <!-- 			       alt="toggle" id="[% db %]Img"></a> -->
	    [% db %] <!-- ([% xref_hash.$db.size %]) -->
	  </dt>
	  <dd id="[% db %]"><ul>
	      [% FOREACH xref_item = xref_hash.$db %]
	      <li>
		[% xref_key = xref_item.key;
		db_link = xref_item.link;
		IF db_link %]
		<a href="[% db_link %]"
		   title="View [% xref_key %] in [% db %]">[% xref_key %]</a>
		[% ELSE %]
		[%    xref_key %]
		[% END;
		IF xref_item.xref_desc %] [% xref_item.xref_desc %][% END %]
	      </li>
	      [% END %]
	  </ul></dd>
	  [% END %]
	</dl>
	
	[% ELSE %]
	<p>None.</p>
	[% END %]
	<!-- </div> -->
	
      </div>

      <div class="clearall"></div>

</div>

   <p class="toTop">
     <a href="#top" title="Back to the top of the page">Back to top</a> 
   </p>
 </div>
 [% END %]
 
 [% END %]
<!-- END template: term_details.tmpl -->
