<!-- Begin: base_statistics.tmpl -->

[% INCLUDE common/noscript_js_necessary.tmpl %]

[% rollup_id = "info_header" %]
[% rollup_anchor = "Base Statistics in GO" %]
[% INCLUDE "common/info_rollup_start.tmpl" %]
<p>
  The page show basic counts of data available in the GO dataset for
  AmiGO. This page require JavaScript to be enabled.
</p>
[% INCLUDE "common/info_rollup_end.tmpl" %]

<div class="panel panel-default">
  <!-- <div class="panel-heading"> -->
    <!-- <div class="panel-title"> -->
    <!-- </div> -->
  <!-- </div> -->
  <div class="panel-body">

    <div id="graph01"></div>
    
  </div>
</div>
<!-- End: base_statistics.tmpl -->
