<!-- Begin: base_statistics.tmpl -->

[% INCLUDE common/noscript_js_necessary.tmpl %]

[% rollup_id = "info_header" %]
[% rollup_anchor = "Base Statistics in GO" %]
[% INCLUDE "common/info_rollup_start.tmpl" %]
<p>
  The page show basic counts of data available in the GO dataset for
  AmiGO. This page require JavaScript to be enabled.
</p>
[% INCLUDE "common/info_rollup_end.tmpl" %]

[% IF NOT have_cache_p %]

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>Cannot display statistics</h4>
    </div>
  </div>
  <div class="panel-body">

    <p>
      No stastitics cache was found at this time. Please check back
      later once the data has refreshed.
    </p>
    
  </div>
</div>

[% ELSE %]

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>Available graphs</h4>
    </div>
  </div>
  <div class="panel-body">

    <ul>
      <li>
	<a href="#experimental-annotations-by-species">
	  Experimental annotations by species
	</a>
      </li>
      <li>
	<a href="#experimental-annotations-by-source">
	  Experimental annotations by source
	</a>
      </li>
      <li>
	<a href="#annotations-by-evidence">
	  Annotations by evidence
	</a>
      </li>
      <li>
	<a href="#annotations-by-aspect-species-by-evidence">
	  Annotations by aspect/species by evidence
	</a>
      </li>
      <li>
	<a href="#experimental-annotation-publications-by-source">
	  Experimental annotation publications by source
	</a>
      </li>
    </ul>
    
  </div>
</div>

<div id="experimental-annotations-by-species" class="panel panel-default">
  <div class="panel-body">

    <div id="graph01" style="width: 800px; height: 600px;"></div>
    
  </div>
</div>

<div id="experimental-annotations-by-source" class="panel panel-default">
  <div class="panel-body">
    <div id="graph02" style="width: 800px; height: 600px;"></div>
  </div>
</div>

<div id="annotations-by-evidence" class="panel panel-default">
  <div class="panel-body">
    <div id="graph03" style="width: 800px; height: 600px;"></div>
  </div>
</div>

<div id="annotations-by-aspect-species-by-evidence" class="panel panel-default">
  <div class="panel-body">
    <div id="graph04" style="width: 800px; height: 600px;"></div>
  </div>
</div>

<div id="experimental-annotation-publications-by-source" class="panel panel-default">
  <div class="panel-body">
    <div id="graph05" style="width: 800px; height: 600px;"></div>
  </div>
</div>


[% END %]

<!-- End: base_statistics.tmpl -->
