<!-- Begin: dd_browse.tmpl -->

[% INCLUDE common/noscript_js_necessary.tmpl %]

[% rollup_id = "info_header" %]
[% rollup_anchor = "Drill-down Browsing of Ontologies" %]
[% INCLUDE "common/info_rollup_start.tmpl" %]
<p>
  This is a very simple top-down exploration widget for the
  ontologies. It does not worry about multiple paths and logic, it
  just lets you open up direct descendant terms one at a time.
</p>
<p>
  This browser performs no lookahead, so you will not know if a term
  has children until you attempt to open it.
</p>
<p>
  The <b>best practice for use</b> would be to set filters before
  exploration--setting/resetting filters will also reset the tree.
</p>
[% INCLUDE "common/info_rollup_end.tmpl" %]

<div class="panel panel-default">
  <!-- <div class="panel-heading"> -->
    <!-- <div class="panel-title"> -->
    <!-- </div> -->
  <!-- </div> -->
  <div class="panel-body">

    <!-- <h4>Root terms</h4> -->

    <div id="results-area" class="row">

      <!-- Filter section. -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	<div>
	  <h4>Filter tree annotations</h4>
	  <div id="accordion" class="bbop-widget-set-live-filters">
	    Loading...
	  </div>
	</div>	  
      </div>

      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	<div id="dd_browser_id"><h4>Loading tree...</h4></div>
      </div>

    </div>    

  </div>
  
</div>
<!-- End: dd_browse.tmpl -->
