<!-- Begin: error.tmpl -->
<div class="page-header">  
  <h1>500 Error</h1>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">An error has occurred</h3>
  </div>

  <div class="panel-body">

    <p>We apologise for the inconvenience.</p>
    <p>Including the information below, Please send open a ticket on our <a href="https://github.com/geneontology/helpdesk/issues">helpdesk tracker</a> or <a href="gohelp@geneontology.org">email the helpdesk</a>.</p>
    <div class="well">
      [% error %]
    </div>
    <p>
      Please include information about what page this error was found on
      and what steps were taken to produce this error.
    </p>

  </div>
</div>
<!-- End: error.tmpl -->
