<!-- Begin: error.tmpl -->
<div class="page-header">  
  <h1>500 Error</h1>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">An error has occurred</h3>
  </div>

  <div class="panel-body">

    <p>We apologise for the inconvenience.</p>
    <p>Please send the following information to gohelp@geneontology.org:</p>
    <div class="well">
      [% error %]
    </div>
    <p>
      Please include information about what page this error was found on
      and what steps were taken to produce this error.
    </p>

  </div>
</div>
<!-- End: error.tmpl -->
