<!-- START template: gene_product_details.tmpl -->

    <!-- <dl class="dl-horizontal"> -->
    <!--   <dt>Symbol</dt>  -->
    <!--   [% IF GP_INFO.label %] -->
    <!--   <dd class="symbol">[% GP_INFO.label %]</dd> -->
    <!--   [% ELSE %] -->
    <!--   <dd class="symbol">(n/a)</dd> -->
    <!--   [% END %] -->
    <!-- </dl>       -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gene Product Information</h3>
  </div>
  <div class="panel-body">

    <dl class="dl-horizontal amigo-gp-info">
      
      <dt>Symbol</dt> 
      [% IF GP_INFO.label %]
      <dd class="symbol">[% GP_INFO.label %]</dd>
      [% ELSE %]
      <dd class="symbol">(n/a)</dd>
      [% END %]
      
      <dt>Name(s)</dt>
      [% IF GP_INFO.name %]
      <dd class="full_name">[% GP_INFO.name %]</dd>
      [% ELSE %]
      <dd class="full_name">(n/a)</dd>
      [% END %]
      
      <dt>Type</dt> 
      <dd class="type">[% GP_INFO.type %]</dd>
      
      <dt>Taxon</dt>
      <dd class="spp">[% GP_INFO.taxon_readable %]</dd>
      <!-- TODO: Oo! Copy below. -->
      <!-- <dd class="spp"><a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=44689" title="View Dictyostelium discoideum details on the NCBI taxonomy website">Dictyostelium discoideum</a></dd> -->
      
      <!-- Synonyms -->
      <dt>Synonyms</dt>
      [% sl = GP_INFO.synonyms %]
      [% IF sl.size == 0 %]
      <dd>None</dd>
      [% ELSE %]
      [%    FOREACH synh IN sl %]
      <!-- <dd class="syn">[% IF synh.scope %]<span class="type">[% synh.scope %]</span>: [% END %][% synh.acc %]</dd> -->
      [%       ## Something broken in the GAF or pipeline? %]
      [%       IF synh == "" %]
      <dd class="syn">(n/a)</dd>
      [%       ELSE %]
      <dd class="syn">[% synh %]</dd>
      [%       END %]
      [%    END %]
      [% END %]

      <dt>Database</dt>
      <dd>[% GP_INFO.source %], <a href="[% GP_INFO.db_link %]" title="View details of [% GP_INFO.internal_id %] at [% GP_INFO.source %]">[% GP_INFO.internal_id %]</a>
      </dd>

      <!-- <dt>Sequence</dt>				 -->
      <!-- <dd><a href="#sequence" title="View DDB_G0267178_RTE sequence" id="seqToggle">View sequence</a>;  -->
      <!--   <a class="blast-link" href="blast.cgi?action=blast&amp;seq_id=dictyBase:DDB_G0267178" title="Use sequence as BLAST query">use as BLAST query sequence</a></dd> -->

      [% IF PHYLO_TREE_LINK %]
      <dt>PANTHER Family</dt>				
      <dd><a title="View PANTHER tree" href="[% PHYLO_TREE_LINK %]">View PANTHER tree</a></dd> 
      [% END %]
	
    </dl>

  </div>
</div>

<noscript>
  <div class="block warning">
    <h2>Notice</h2>
    <p>
      Enable JavaScript in your browser and reload for gene product
      count filters and links.
    </p>
  </div>
</noscript>

<noscript>
  <div class="block warning">
    <h2>Notice</h2>
    <p>
      Enable JavaScript in your browser and reload for advanced features.
    </p>
  </div>
</noscript>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Associations</h3>
  </div>
  <div class="panel-body">
    <div id="display-associations">
      Contacting server...
    </div>
  </div>
</div>

<!-- END template: gene_product_details.tmpl -->
