<!-- START template: gene_product_details.tmpl -->

[% INCLUDE common/noscript_js_limited.tmpl %]

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Gene Product Information
      [% page_content_title_tmp = page_content_title %]
      [% page_content_title = "using this page" %]
      [% INCLUDE "common/abstract_help_link.tmpl" %]
      [% page_content_title = page_content_title_tmp %]
    </h3>

  </div>
  <div class="panel-body">

    <div class="pull-right">
      <a class="bbop-js-tooltip" title="Let us know if there are any additions, concerns, or other issues that you'd like to share about this data." href="http://help.geneontology.org">
	<span class="label label-primary">Data health&nbsp;<span class="glyphicon glyphicon-heart"></span>
	</span>
      </a>
    </div>

    <dl class="dl-horizontal amigo-detail-info">
      
      <dt>Symbol</dt> 
      [% IF GP_INFO.label %]
      <dd>[% GP_INFO.label %]</dd>
      [% ELSE %]
      <dd>(n/a)</dd>
      [% END %]
      
      <dt>Name(s)</dt>
      [% IF GP_INFO.name %]
      <dd>[% GP_INFO.name %]</dd>
      [% ELSE %]
      <dd>(n/a)</dd>
      [% END %]
      
      <dt>Type</dt> 
      <dd>[% GP_INFO.type %]</dd>
      
      <dt>Taxon</dt>
      <dd>[% GP_INFO.taxon_readable %]</dd>
      <!-- TODO: Oo! Copy below. -->
      <!-- <dd><a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=44689" title="View Dictyostelium discoideum details on the NCBI taxonomy website">Dictyostelium discoideum</a></dd> -->
      
      <!-- Synonyms -->
      <dt>Synonyms</dt>
      [% sl = GP_INFO.synonyms %]
      [% IF NOT sl OR sl.size == 0 %]
      <dd>None</dd>
      [% ELSE %]
      [%    FOREACH synh IN sl %]
      <!-- <dd class="syn">[% IF synh.scope %]<span class="type">[% synh.scope %]</span>: [% END %][% synh.acc %]</dd> -->
      [%       ## Something broken in the GAF or pipeline? %]
      [%       IF NOT synh OR synh == "" %]
      <dd>(n/a)</dd>
      [%       ELSE %]
      <dd>[% synh %]</dd>
      [%       END %]
      [%    END %]
      [% END %]

      <dt>Database</dt>
      <dd>[% GP_INFO.source %], <a href="[% GP_INFO.db_link %]" title="View details of [% GP_INFO.internal_id %] at [% GP_INFO.source %]">[% GP_INFO.internal_id %]</a>
      </dd>

      <!-- <dt>Sequence</dt>				 -->
      <!-- <dd><a href="#sequence" title="View DDB_G0267178_RTE sequence" id="seqToggle">View sequence</a>;  -->
      <!--   <a class="blast-link" href="blast.cgi?action=blast&amp;seq_id=dictyBase:DDB_G0267178" title="Use sequence as BLAST query">use as BLAST query sequence</a></dd> -->

      [% IF PHYLO_TREE_LINK %]
      <dt>PANTHER Family</dt>				
      <dd><a title="View PANTHER tree" href="[% PHYLO_TREE_LINK %]">View PANTHER tree</a></dd> 
      [% END %]

      <!-- JS dynamic links created by manager. -->
      <dt id="prob_related" class="hidden">Related</dt>
      <!-- <dd id="prob_bio" class="hidden"> -->
      <!-- 	<a id="prob_bio_href" href="#" class="btn btn-primary btn-xs">Link</a> -->
      <!-- 	to all <strong>bioentities</strong> associated to [% GP_INFO.label %]. -->
      <!-- </dd> -->
      <dd id="prob_ann" class="hidden">
	<a id="prob_ann_href" href="#" class="btn btn-primary btn-xs">Link</a>
	to <strong>annotations page</strong>
	to [% GP_INFO.label %].
      </dd>
      <dd id="prob_ann_dl" class="hidden">
	<a id="prob_ann_dl_href" href="#" class="btn btn-primary btn-xs">Link</a>
	to annotations <strong>download</strong>
	for [% GP_INFO.label %].
      </dd>

      <!-- -->
      <!-- <dt>Feedback</dt> -->
      <!-- <dd> -->
      <!-- 	Contact the -->
      <!-- 	<a href="http://help.geneontology.org" title="GO Helpdesk.">GO Helpdesk</a> -->
      <!-- 	if you find mistakes or have concerns -->
      <!-- 	about the data you find here. -->
      <!-- </dd> -->

    </dl>

  </div>
</div>

<!-- Display tabbing. -->
<ul id="display-tabs" class="nav nav-tabs">
  <li>
    <a href="#display-associations-tab" data-toggle="tab">Associations</a>
  </li>
  <li>
    <a href="#display-models-tab" data-toggle="tab">GO-CAMs</a>
  </li>
</ul>

<div class="tab-content">
  <div id="display-associations-tab" class="tab-pane">
    <div class="panel panel-default amigo-detail-tab-spacer amigo-live-search-results-unbounder">
      <div class="panel-body">
        [% INCLUDE "common/annotation_search.tmpl" %]
      </div>
    </div>
  </div>
  <div id="display-models-tab" class="tab-pane">
    <div class="panel panel-default amigo-detail-tab-spacer">
      <div class="panel-body">
        <div class="form-group hidden" id="gomodel-select-group">
          <label for="gomodel-select">Available GO-CAM models</label>
          <select class="form-control" id="gomodel-select"></select>
        </div>
        <div id="gp-gocam-viz-container" class="gocam-viz-container">
          <button class="btn btn-link btn-collapse-toggle collapsed" type="button" data-toggle="collapse" data-target="#gocam-viz-legend-container" aria-expanded="false" aria-controls="gocam-viz-legend-container">
            Legend <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
          </button>
          <div class="collapse" id="gocam-viz-legend-container">
            <img width="566" id="gocam-viz-legend">
          </div>
          </div>
        <div id="gocam-no-data-message" class="hidden">
          <p>No GO-CAM models associated with Gene Product [% GP_INFO.internal_id %]</p>
          <p>To learn more about GO-CAM models visit <a href="http://geneontology.org/go-cam">http://geneontology.org/go-cam</a>.
        </div>
        <div id="gocam-fetch-error-message" class="hidden">
          <p class="text-danger">Unable to retrieve GO-CAM model information for [% GP_INFO.internal_id %]. Try again later.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END template: gene_product_details.tmpl -->
