<!-- START: grebe.tmpl -->

[% INCLUDE common/noscript_js_limited.tmpl %]

[% IF galaxy_url && galaxy_url_external_p %]
<input type="hidden" name="GALAXY_URL" value="[% galaxy_url %]" />
[% END %]

[% rollup_id = "info_header" %]
[% rollup_anchor = "Information about Search Templates" %]
[% INCLUDE "common/info_rollup_start.tmpl" %]
<p>
  Search Templates are a simple fill-in-the-blank wizard interface
  to AmiGO 2 users that are either unfamiliar with how to search in
  AmiGO 2 or for users that want to simplify common queries. To use,
  fill in the necessary blank columns with IDs, selecting from the
  autocomplete results; hit the "go" icon at the end of the question
  when done.
</p>
<p>
  For more information, please see the Search Templates
  <a href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual:_Search_Templates">manual page</a>.
</p>
[% INCLUDE "common/info_rollup_end.tmpl" %]

[% IF questions %]
[%   first_time = 1 %]
[%   eo = 1 %]
[%   FOREACH q = questions %]
[%     IF q.group_label %]
[%       eo = 0 %]
[%       IF NOT first_time == 1 %]
[%         INCLUDE "common/grebe_entry_container_close.tmpl" %]
[%       END %]
[%       IF first_time == 1 %]
[%         first_time = 0 %]
[%       END %]
[%       grebe_question_label = q.group_label %]
[%       INCLUDE "common/grebe_entry_container_open.tmpl" %]
[%     ELSE %]
[%       grebe_eo = eo %]
[%       grebe_question = q.question %]
[%       INCLUDE "common/grebe_entry.tmpl" %]
[%     END %]
[%     eo = eo + 1 %]
[%   END %]
[%   INCLUDE "common/grebe_entry_container_close.tmpl" %]
[% END %]

<div class="text-center">
  <!-- <a href="http://www.fws.gov/pictures/lineart/bobhines/"> -->
  <!-- <img src="[% image_dir %]/grebe.png" title="U. S. Fish and Wildlife Service/Bob Hines" alt="[Image to make page constant size when autocomplete opens on final grebe.]" height="150" class="img-rounded" /> -->
  <!-- </a> -->
</div>

<!-- END: grebe.tmpl -->
