<!-- START: live_search_golr.tmpl -->

[% INCLUDE common/noscript_js_necessary.tmpl %]

[% INCLUDE common/noscript_js_limited_search.tmpl %]

<div class="panel panel-default">
  <!-- <div class="panel-heading"> -->
  <!--   <h3 class="panel-title">Search</h3> -->
  <!-- </div> -->
  <div class="panel-body">
    
    [% rollup_id = "inf01" %]
    [% rollup_anchor = "Information about Search" %]
    [% INCLUDE "common/info_rollup_start.tmpl" %]
    <p>
      Live Search will return results from the Gene Ontology as you
      type. No results will be returned until the search input is at
      least three characters. After that, you may also use the filters
      to limit or reduce the results.
    </p>
    <p>
      For a detailed explanation on how to search, a list of what fields
      can be used in the search string, or an explanation for how to get
      the results you want, please view the AmiGO 2
      <a title="Go to Search AmiGO 2 live search documentation"
	 href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual:_Search">search</a>
      documentation.
    </p>
    [% INCLUDE "common/info_rollup_end.tmpl" %]

  </div>
</div>
  
<div class="panel panel-default">
  <div class="panel-body">
    [% IF personality %]
    <!-- No in-app personality switching. -->
    [% ELSE %]
    <!-- Has in-app personality switching. -->
    <p>
      Select a search template:
      <div id="search_radio">
	<!-- <input type="radio" id="bbop_ann" name="search_radio" checked="checked" /> -->
	<!-- <label for="bbop_ann">Associations</label> -->
	<!-- etc... -->
	[% FOREACH infi IN search_tab_info %]
	<input type="radio"
	       name="search_radio"
               id="[% infi.id %]"
               value="[% infi.id %]"
	       [%    IF starting_golr_class == infi.id %]
	       checked="yes" />
	[%    ELSE %]
        />
	[%    END %]
	<label for="[% infi.id %]">[% infi.display_name %]</label>
	[% END %]
      </div>
    </p>
    [% END %]
    
    <div id="display-general-search">
      Pending...
    </div>
  
  <!-- <div class="clearall"></div> -->
  
  </div>
</div>
<!-- END: live_search_golr.tmpl -->
