<!-- Start: matrix.tmpl -->

[% INCLUDE common/noscript_js_limited.tmpl %]

[% rollup_id = "info_header" %]
[% rollup_anchor = "Information about Matrix" %]
[% INCLUDE "common/info_rollup_start.tmpl" %]
<h5></h5>
<p>
  Enter a list of GO ID's to see the co-annotations--the count of
  shared gene products annotated to pairs of terms. Use the taxon
  filter to limit species.
</p>
<p>
  For example to see numbers of gene products co-annotated to slim cellular process terms, you'd use the list:

  <div class="well">
    GO:0006457 GO:0071852 GO:0006629 GO:0006399 GO:0006259 GO:0000003
    GO:0044281 GO:0051276 GO:0000278 GO:0002181 GO:0006810 GO:0007010
    GO:0016071 GO:0007005 GO:0006351 GO:0042254 GO:0023052 GO:0006464
    GO:0006091 GO:0044262
  </div>
</p>

[% INCLUDE "common/info_rollup_end.tmpl" %]

<div id="input">
  <div class="panel panel-default">
    <div class="panel-body">
      
      <div class="row">
	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	  <div>
	    <h4>Filter shared bioentities</h4>
	    <div id="accordion" class="bbop-widget-set-live-filters">
	      Loading...
	    </div>
	  </div>	  
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	  
	  <div>
	    
	    <div class="panel panel-default">
	      <div class="panel-body">
		
		<div class="form-group">
		  <label for="query">Input GO IDS</label>
		  <textarea id="input-terms"
			    class="form-control"
			    name="input-terms"
			    placeholder="GO:0043473 GO:0009987 GO:0022008"
			    rows="5"
			    cols="80"></textarea>
		</div>
		
		<!-- <h5>Taxon</h5> -->
		<!-- <div class="radio"> -->
		<!-- 	<label> -->
		<!-- 	  <input type="radio" -->
		<!-- 		 name="taxon" -->
		<!-- 		 value="none" -->
		<!-- 		 checked="yes">All</input> -->
		<!-- 	</label> -->
		<!-- 	<br /> -->
		<!-- 	<label> -->
		<!-- 	  <input type="radio" -->
		<!-- 		 name="taxon" -->
		<!-- 		 value="pombe">pombe</input> -->
		<!-- 	</label> -->
		<!-- </div> -->
		
		<!-- <h5>Coloration</h5> -->
		<!-- <div class="form-group"> -->
		<!--   <div class="radio"> -->
		<!--     <label> -->
		<!--       <input type="radio" -->
		<!-- 	     name="color" -->
		<!-- 	     value="dark"  -->
		<!-- 	     checked="yes">dark shades</input> -->
		<!--     </label> -->
		<!--     <br /> -->
		<!--     <label> -->
		<!--       <input type="radio" -->
		<!-- 	     name="color" -->
		<!-- 	     value="step">step colors</input> -->
		<!--     </label> -->
		<!--   </div> -->
		<!-- </div> -->
		
		<div class="form-group">
		  <button id="button"
			  type="button"
			  class="btn btn-primary">Process</button>
		</div>	  
		
	      </div>
	      
	    </div>
	    
	    <div class="panel panel-default">
	      <div class="panel-body">
		
		<div id="initial_placeholder">No results yet.</div>

		<div id="progress-widget">
		  <div id="progress-text"></div>
		  <div id="progress-bar"></div>
		</div>

		<div id="order-selector">
		  <h5>Order</h5>
		  <select id="plot_order" class="form-control">
		    <option value="name">by term name</option>
		    <option value="source">by ontology</option>
		    <!-- <option value="id">by term id</option> -->
		    <option value="count">by co-annotation count</option>
		    <option value="index" selected="selected">by initial order</option>
		  </select>
		</div>
		
		<div id="matrix_plot"></div>

	      </div>
	    </div>  
	    
	  </div>
	  
	</div>
      </div>
    </div>
  </div>
</div>

<!-- End: matrix.tmpl -->
