<!-- START template: model_details.tmpl -->

[% INCLUDE common/noscript_js_limited.tmpl %]

<script id="gocam-data" type='application/json'>
  [% GOCAM_DATA %]
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Model Information</h3>
  </div>
  <div class="panel-body">

    <dl class="dl-horizontal amigo-detail-info">
      
      <!-- [% IF MA_INFO.annotation_unit_label %] -->
      <!-- <dd>[% MA_INFO.annotation_unit_label %]</dd> -->
      <!-- [% ELSE %] -->
      <!-- <dd>(n/a)</dd> -->
      <!-- [% END %] -->
      
      <dt>Title</dt>
      [% IF MA_INFO.model_label %]
      <dd>[% MA_INFO.model_label %]</dd>
      [% ELSE %]
      <dd>(n/a)</dd>
      [% END %]
      
      <dt>Model ID</dt>
      [% IF MA_INFO.model_id %]
      <dd>[% MA_INFO.model_id %]</dd>
      [% ELSE %]
      <dd>(n/a)</dd>
      [% END %]
      
      <dt>Derived From</dt>
      [% IF MA_INFO.derived_from_id %]
      <dd><a href="[% MA_INFO.derived_from_link %]">[% MA_INFO.derived_from_id %]</a></dd>
      [% ELSE %]
      <dd>(n/a)</dd>
      [% END %]
      
      <dt>Data file (ttl)</dt>
      [% IF MA_INFO.model_id %]
      <dd><a href="[% repo_file_url %]">[% MA_INFO.model_id %]</a> <small>(@GitHub)</small></dd>
      [% ELSE %]
      <dd>(n/a)</dd>
      [% END %]
      
    </dl>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">View</h3>
  </div>
  <div class="panel-body">
  [% IF MA_INFO.model_id %]
    <go-gocam-viewer id="gocam-1" show-legend=false></go-gocam-viewer>

    <button class="btn btn-link btn-collapse-toggle collapsed" type="button" data-toggle="collapse" data-target="#gocam-viewer-legend-container" aria-expanded="false" aria-controls="gocam-viewer-legend-container">
      Legend <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
    </button>
    <div class="collapse gocam-viewer-legend-container" id="gocam-viewer-legend-container">
      <go-gocam-viewer-legend></go-gocam-viewer-legend>
    </div>
  [% END %]
  </div>
</div>

<!-- END template: model_details.tmpl -->
