<!-- Begin: not_found.tmpl -->
<div class="page-header">
  <h1>404 Error</h1>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">[% FILTER html %][% input_id %][% END %] not found</h3>
  </div>

  <div class="panel-body">
    <p>
      AmiGO 2 was unable to find the [% FILTER html %][% input_type %][% END %] <em>[% FILTER html %][% input_id %][% END %]</em>
      through normal channels--it may not be in our data set or it
      may go under a different identifier. Please try your
      [% FILTER html %][% input_type %][% END %] ([% FILTER html %][% input_id %][% END %]) through the landing page general
      <a title="Search" href="[% search_link %]">search interface</a>
      using synonyms or alternate identifiers.
    </p>
    <p>
      If you feel that you have reached this message in error, please contact
      <a title="Contact the GO Helpdesk"
	 href="http://help.geneontology.org">GO Helpdesk</a>.
    </p>
  </div>
</div>
<!-- End: not_found.tmpl -->
