<!-- START template: reference_details.tmpl -->

[% INCLUDE common/noscript_js_limited.tmpl %]

<div id="top-panel" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Reference Information
      [% page_content_title_tmp = page_content_title %]
      [% page_content_title = "using this page" %]
      [% INCLUDE "common/abstract_help_link.tmpl" %]
      [% page_content_title = page_content_title_tmp %]
    </h3>
  </div>
  <div class="panel-body">

    <div class="pull-right">
      <a class="bbop-js-tooltip" title="Let us know if there are any additions, concerns, or other issues that you'd like to share about this data." href="http://help.geneontology.org">
	<span class="label label-primary">Data health&nbsp;<span class="glyphicon glyphicon-heart"></span>
	</span>
      </a>
    </div>
    
    <div id="info-area">
      <p class="well">
	Attempting to find reference information from <a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/">NCBI Entrez Programming Utilities</a>...
      </p>
    </div>
    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gene Product Associations with [% REF_ID %]</h3>
  </div>
  <div class="panel-body">

    <div id="results-area" class="row">

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	<div>
	  <h4>Filter results</h4>
	  
	  <div id="accordion" class="bbop-widget-set-live-filters">
	    Loading...
	  </div>

	</div>	  
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	
	<div id="pager" class="bbop-widget-set-live-pager">
	</div>
	<div id="results" class="bbop-widget-set-live-results">
	  Pending...
	</div>
      </div>

    </div>

  </div>
</div>

<!-- END template: reference_details.tmpl -->
