<!-- START template: visualize.tmpl -->
<!-- SEARCH_P = [% SEARCHED_P %] -->

[% rollup_id = "info_header" %]
[% rollup_anchor = "Information about Visualize" %]
[% INCLUDE "common/info_rollup_start.tmpl" %]
This is a simple interface to the visualizations in
AmiGO. Type in your GO IDs (in the form GO:xxxxxxx) or use the
<a title="AmiGO Visualize documentation" href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual:_Visualize">advanced format</a>
for more control.
[% INCLUDE "common/info_rollup_end.tmpl" %]
    
<div class="well">
  <strong>Caution</strong>: The static image may be very large and
  inappropriate for viewing within a web browser.
</div>

<div class="panel panel-default">
  <div class="panel-body">
    
    <!-- roll="form" -->
    <!-- <form action="[% interlink_visualize_client_amigo %]" -->
    <!-- <form action="visualize?mode=client_amigo" -->
    <form action="visualize"
	  id="term_input_form" method="POST">
      <input type="hidden" name="mode" value="client_amigo" />
      
      <div class="form-group">
	<label for="terms">GO IDs or advanced format</label>
	<textarea rows="7"
		  class="form-control" 
		  placeholder="GO:1234567"
		  name="term_data"
		  id="terms"></textarea>
      </div>

      <div class="form-group">
	<div class="checkbox">
	  <label for="term_data_type">
	    <input type="checkbox"
		   name="term_data_type"
		   value="json"
		   id="term_data_type" />
	    Use <a title="AmiGO Visualize documentation"
	       href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual:_Visualize">advanced format</a>
	  </label>
	</div>
      </div>
      
      <h4>Output type:</h4>
      <div class="radio">
	<label for="png">
	  <input type="radio"
		 class="radio-inline"
		 name="format"
		 value="png"
		 checked
		 id="png" />
	  static (png)
	</label>
      </div>
      <div class="radio">
	<label for="svg">
	  <input type="radio"
		 class="radio-inline"
		 name="format"
		 value="svg"
		 id="svg"/>
	  SVG (svg+xml)
	</label>
      </div>
      
      <button type="submit" class="btn btn-primary">Visualize</button>
    </form>
    
  </div>
  
</div>
  
<!-- END template: visualize.tmpl -->
