<!-- Start: xrefs.tmpl -->

[% INCLUDE common/noscript_js_necessary.tmpl %]

[% rollup_id = "info_header" %]
[% rollup_anchor = "Information about Cross References" %]
[% INCLUDE "common/info_rollup_start.tmpl" %]
<p>
  The data for this page is also available as a <a title="YAML metadata" href="https://github.com/geneontology/go-site/blob/master/metadata/db-xrefs.yaml">YAML file</a> and as a derived <a href="http://geneontology.org/doc/GO.xrf_abbs" title="GO database abbreviations in plain text format">plain text</a> file. See the documentation here in <a href="https://github.com/geneontology/go-site/blob/master/metadata/db-xrefs.md">the repository</a> for more details.
</p>
[% INCLUDE "common/info_rollup_end.tmpl" %]

[% FOREACH entry IN xref_data %]
<div class="panel panel-default" id="[% entry.abbreviation %]">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="#[% entry.abbreviation %]"
	 style="text-decoration: underline;">[% entry.abbreviation %]</a>
    </h3>
  </div>
  <div class="panel-body">

    [% entry.database %]

    <dl class="dl-horizontal">

      [% IF entry.generic_url %]
      <dt>Site</dt>
      <dd>
	<a href="[% entry.generic_url %]">[% entry.generic_url %]</a>
      </dd>
      [% END %]

      [% IF entry.object %]
      <dt>Object</dt>
      <dd>
	[% entry.object %]
      </dd>
      [% END %]

      [% IF entry.example_id %]
      <dt>Example ID</dt>
      <dd>
	[% entry.example_id %]
      </dd>
      [% END %]

      [% IF entry.url_syntax %]
      <dt>URL syntax</dt>
      <dd>
	[% entry.url_syntax %]
      </dd>
      [% END %]

      [% IF entry.url_example %]
      <dt>URL example</dt>
      <dd>
	<a href="[% entry.url_example %]">[% entry.url_example %]</a>
      </dd>
      [% END %]

    </dl>
  </div>
</div>
[% END %]
<!-- End: xrefs.tmpl -->
