ssh_keys:
     public: /Users/SOME_USER/SSH/go-ssh.pub
     private: /Users/SOME_USER/SSH/go-ssh

instance:
    tags:
       Name: go-amigo
    instance_type: t2.large
    disk_size: 200 

stack:
   vars:
      PROD_MODE: 1
      S3_CRED_FILE: /Users/SOME_USER/S3/s3cfg
      S3_BUCKET: REPLACE_ME 
      amigo_image: geneontology/amigo-base:V1
      apache_proxy_image: geneontology/apache-proxy:v1
      golr_index_archive_url: http://current.geneontology.org/products/solr/golr-index-contents.tgz
      golr_timestamp: http://current.geneontology.org/products/solr/golr_timestamp.log
      release_archive_doi: http://current.geneontology.org/metadata/release-archive-doi.json
      stage_dir: /home/ubuntu/stage_dir
      remote_journal_gzip: http://current.geneontology.org/products/blazegraph/blazegraph-production.jnl.gz
      apache_proxy_image: geneontology/apache-proxy:v1
      AMIGO_DYNAMIC: amigo.example.com
      AMIGO_DYNAMIC_ALIAS: amigo.example.com
      AMIGO_PUBLIC_GOLR: amigo-golr.example.com
      AMIGO_PUBLIC_GOLR_ALIAS: amigo-golr.example.com
      AMIGO_PUBLIC_GOLR_BULK: amigo-golr.example.com
   scripts: [ "build_images.yaml", "stage.yaml", "start_services.yaml" ]
