ssh_keys:
     public: /tmp/go-ssh.pub
     private: /tmp/go-ssh

stack:
   vars:
      PROD_MODE: 1
      stage_dir: /home/ubuntu/stage_dir
      amigo_image: geneontology/amigo-base:V1
      apache_proxy_image: geneontology/apache-proxy:v4
      S3_CRED_FILE: /tmp/go-aws-credentials

      S3_BUCKET: REPLACE_ME_APACHE_LOG_BUCKET

      USE_SSL: 1
      S3_SSL_CERTS_LOCATION: s3://REPLACE_ME_CERT_BUCKET/REPLACE_ME_DOMAIN.tar.gz


      #golr_index_archive_url: http://skyhook.berkeleybop.org/issue-35-neo-test/products/solr/golr-index-contents.tgz
      golr_index_archive_url: http://current.geneontology.org/products/solr/golr-index-contents.tgz

      #golr_timestamp: http://skyhook.berkeleybop.org/issue-35-neo-test/products/solr/golr_timestamp.log
      golr_timestamp: http://current.geneontology.org/products/solr/golr_timestamp.log

      release_archive_doi: http://current.geneontology.org/metadata/release-archive-doi.json


      AMIGO_DYNAMIC: REPLACE_ME            # aes-test-amigo.geneontology.io
      AMIGO_DYNAMIC_ALIAS: REPLACE_ME      # aes-test-amigo.geneontology.io
      AMIGO_PUBLIC_GOLR: REPLACE_ME        # aes-test-golr.geneontology.io
      AMIGO_PUBLIC_GOLR_ALIAS: REPLACE_ME  # aes-test-golr.geneontology.io
      AMIGO_PUBLIC_GOLR_BULK: REPLACE_ME   # aes-test-golr.geneontology.io
   scripts: [ "stage.yaml", "start_services.yaml" ]
