<!-- START template: content_open.tmpl -->
<div class="container amigo-ui-wide-max">  
  [% IF content_title %]
  <div class="page-header">
    <h1>[% content_title %] <small>GO data</small></h1>
  </div>
  [% END %]
<!-- END template: content_open.tmpl -->
