<!-- Begin: error.tmpl -->
<div>
<h2>Sorry, an error has occurred.</h2>
<p>We apologise for the inconvenience.</p>
<p>Please send the following information to gohelp@geneontology.org:</p>
<p>
<em>
  [% error %]
</em>
</p>

<p>
  Please include information about what page this error was found on
  and what steps were taken to produce this error.
</p>

</div>
<!-- End: error.tmpl -->
