<!-- START template: header.tmpl -->
<!-- page_name          = [% page_name %] -->
<!-- image_dir          = [% image_dir %] -->
<!-- show_blast         = [% show_blast %] -->
<!-- bookmark           = [% bookmark %] -->
<!-- session_id         = [% session_id %] -->
<!-- session_id_for_url = [% session_id_for_url %] -->
<div id="header">
  [% IF BETA == 1 %]
  <a class="logo floatR" href="[% public_base %]/search.cgi?session_id=[% session_id %]"><img src="[% image_dir %]/logo-amigolabs-sm.png" alt="AmiGO logo" title="AmiGO front page"></a> <h1 id="top"><a href="http://www.geneontology.org/" title="Gene Ontology website">the Gene Ontology</a></h1>
  [% ELSE %]
  <a class="logo floatR" href="[% public_base %]/search.cgi?session_id=[% session_id %]"><img src="[% image_dir %]/logo-sm.png" alt="AmiGO logo" title="AmiGO front page"></a> <h1 id="top"><a href="http://www.geneontology.org/" title="Gene Ontology website">the Gene Ontology</a></h1>
  [% END %]
</div>

[% UNLESS page_name == 'goose' %]

[% IF TROUBLE == 1 %]
<div id="searchbartrouble">
[% ELSIF BETA == 1 %]
<div id="searchbarlabs">
[% ELSE %]
<div id="searchbar">
[% END %]
  <ul id="menuToggle">

    [% IF page_name == 'landing' %]
    <li class="here">Home</li>
    [% ELSE %] 
    <li>
      <a href="[% base %]/amigo" title="The AmiGO 2 landing page.">Home</a>
    </li>
    [% END %] 

    [% IF page_name == 'search' %] 
    <li class="here">Search</li>
    [% ELSE %] 
    <li>
      <a href="[% base %]/amigo?mode=search" title="Search for GO terms, gene product annotations, and other entities.">Search</a>
    </li>
    [% END %] 

    [%# Link out to the stuff in the newer framework. %]
    [% IF page_name == "software_list" %]
    <li class="here">
      <a style="border: 0; background-color: #e9effa; color: #006;"
	 href="[% base %]/amigo?mode=software_list"
         title="More tools to explore the Gene Ontology">Tools&nbsp;&amp;&nbsp;Resources</a> 
    </li>
    [% ELSE %]
    <li>
      <a href="[% base %]/amigo?mode=software_list"
         title="More tools to explore the Gene Ontology">Tools&nbsp;&amp;&nbsp;Resources</a> 
    </li>
    [% END %]

    <li>
      <a href="http://wiki.geneontology.org/index.php/AmiGO_Manual:_Overview" title="Help guide for AmiGO">Help</a> 
    </li>

    <li>
      <a href="http://wiki.geneontology.org/index.php/AmiGO_2" title="About AmiGO 2">About</a> 
    </li>

<!--
    [% IF BETA == 1 %]
    <li><a href="http://amigo.geneontology.org" title="Use the stable public version of AmiGO"><small>[Use stable AmiGO]</small></a></li>
    [% ELSE %]
    <li><a href="http://wiki.geneontology.org/index.php/AmiGO_Labs" title="Try out an experimental version of AmiGO"><small>[Try AmiGO Labs]</small></a></li>
    [% END %]
-->
  </ul>

  [% IF page_name == 'front' || page_content_layout == 'wide' %]
  [% ELSE %]
  [% #  INCLUDE header_search.tmpl %]
  [% END %] 
</div>
[% END %] 

[% IF BETA == 1 %]
<h2 id="shout">
  <a title="Go to AmiGO Labs explanation page"
     href="http://wiki.geneontology.org/index.php/AmiGO_Labs">
      You are using AmiGO Labs
  </a>
</h2>
[% END %]
[% IF TROUBLE == 1 %]
[%    TROUBLE_MESSAGE %]
[% END %]

<!-- END template: header.tmpl -->
