<!-- START template: info_rollup_start.tmpl -->
<div id="[% rollup_id %]" class="informational">

  <!-- <span class="rollup"><a href="#">[% rollup_anchor %]</span> -->
  <span class="amigo-ui-rollup">[% rollup_anchor %]&nbsp;<a href="#"><img height="15px" title="Click for more information" src="[% image_dir %]/question.icon.png" /></a></span>
  
  <div>
<!-- END info_rollup_start.tmpl -->
    
