<!-- START template: info_rollup_start.tmpl -->
  <div id="[% rollup_id %]" class="informational">

    <h3 class="first"><a href="#">[% rollup_anchor %]</a></h3>
  
    <div>
<!-- END info_rollup_start.tmpl -->
