<!-- Begin: mq_message.tmpl -->
<div class="mq_message mq_[% mq_last_message_type %]">
  <img title="This is a [% mq_last_message_type %]." src="[% image_dir %]/[% mq_last_message_type %].png" />&nbsp;&nbsp;[% mq_last_message %]
</div>
<!-- End: mq_message.tmpl -->
