<!-- START: noscript_js_necessary.tmpl -->

<noscript>
  <div class="block warning">
    <h2>Warning</h2>
    <p>
      The functionality of this page completely depends on
      JavaScript. To use this page, enable JavaScript in your browser
      and reload.
    </p>
  </div>
</noscript>

<!-- END: noscript-js-necessary.tmpl -->
