<!-- START: noscript_js_limited.tmpl -->

<noscript>
  <div class="block notice">
    <h2>Notice</h2>
    <p>
      Some functionality on this page depends on JavaScript. To fully
      use the features of AmiGO 2, enable JavaScript in your browser
      and reload from the landing page.
    </p>
  </div>
</noscript>

<!-- END: noscript-js-limited.tmpl -->
