<!-- START: public_header.tmpl -->
<!-- page_name          = [% page_name %] -->
<!-- image_dir          = [% image_dir %] -->
<!-- show_blast         = [% show_blast %] -->
<!-- bookmark           = [% bookmark %] -->
<!-- session_id         = [% session_id %] -->
<!-- session_id_for_url = [% session_id_for_url %] -->
<div id="header">
  [% IF BETA == 1 %]
  <a class="logo floatL" href="http://geneontology.org"><img class="logo-img-left" src="[% image_dir %]/go-logo.png" alt="GO logo" title="Gene Ontology front page"></a>
  <a class="logo floatR" href="[% public_base %]/search"><img class="logo-img-right" src="[% image_dir %]/logo-amigolabs-sm.png" alt="AmiGO logo" title="AmiGO front page"></a>
  [% ELSE %]
  <a class="logo floatL" href="http://geneontology.org"><img class="logo-img-left" src="[% image_dir %]/go-logo.png" alt="GO logo" title="Gene Ontology front page"></a>
  <a class="logo floatR" href="[% public_base %]/search"><img class="logo-img-right" src="[% image_dir %]/logo-sm.png" alt="AmiGO logo" title="AmiGO front page"></a>
  [% END %]
</div>

[% UNLESS page_name == 'goose' %]

[% IF TROUBLE == 1 %]
<div id="searchbartrouble">
[% ELSIF BETA == 1 %]
<div id="searchbarlabs">
[% ELSE %]
<div id="searchbar">
[% END %]
  <ul id="menuToggle">
    [% IF page_name == 'advanced_query' %] 
    <li class="here">Search</li>
    [% ELSE %] 
    <li>
      <a href="[% public_base %]/search.cgi?action=advanced_query&amp;[% session_id_for_url %]" title="Advanced search for GO terms or gene product annotations">Search</a>
    </li>
    [% END %] 

    [% IF page_name == "browse" %]
    <li class="here">Browse</li>
    [% ELSE %]
    <li>
      <a href="[% public_base %]/browse.cgi?[% session_id_for_url %]" title="Browse the terms in the Gene Ontology">Browse</a>
    </li>
    [% END %]

    [% IF show_blast;
       IF page_name == 'blast_query' %] 
    <li class="here">BLAST</li>
    [% ELSE %] 
    <li>
      <a href="[% public_base %]/blast.cgi?[% session_id_for_url %]" title="BLAST search for gene products">BLAST</a>
    </li>
    [% END; END %] 
    
    <!--
    [% IF page_name == "term_enrichment" %]
    <li class="here">Term&nbsp;Enrichment</li>
    [% ELSE %]
    <li>
      <a href="[% public_base %]/term_enrichment?[% session_id_for_url %]" title="Find significant terms in the GO">Term&nbsp;Enrichment</a> 
    </li>
    [% END %]

    [% IF page_name == "slimmer" %]
    <li class="here">GO&nbsp;Slimmer</li>
    [% ELSE %]
    <li>
      <a href="[% public_base %]/slimmer?[% session_id_for_url %]"
         title="Map your data to high level terms">GO&nbsp;Slimmer</a> 
    </li>
    [% END %]
-->

<!--
    [% IF show_goose_links %]
       <li><a href="http://go.berkeleybop.org/goose" title="GO Online SQL Environment: query the GO database directly">GOOSE</a>
       </li>
    [% END %]
-->

    [% # WARNING: Transition kludge for difference in modes in new amigo. %]
    [% IF page_name == "amigo" && amigo_mode && amigo_mode == 'homolset_summary' %]
    <li class="here">
      <a style="border: 0; background-color: #e9effa; color: #006;"
	 href="[% public_base %]/amigo?mode=homolset_summary&amp;session_id=[% session_id %]"
         title="A table of homolog annotations">Homolog&nbsp;Annotations</a> 
    </li>
    [% ELSE %]
    <li>
      <a href="[% public_base %]/amigo?mode=homolset_summary&amp;session_id=[% session_id %]"
         title="A table of homolog annotations">Homolog&nbsp;Annotations</a>
    </li>
    [% END %]

    [%# Link out to the stuff in the newer framework. %]
    [% IF page_name == "amigo" %]
    <li class="here">
      <a style="border: 0; background-color: #e9effa; color: #006;"
	 href="[% public_base %]/amigo?[% session_id_for_url %]"
         title="More tools to explore the Gene Ontology">Tools&nbsp;&amp;&nbsp;Resources</a> 
    </li>
    [% ELSE %]
    <li>
      <a href="[% public_base %]/amigo?[% session_id_for_url %]"
         title="More tools to explore the Gene Ontology">Tools&nbsp;&amp;&nbsp;Resources</a> 
    </li>
    [% END %]

    <li>
      <a href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual" title="Help guide for AmiGO 2">Help</a> 
    </li>
<!--
    [% IF BETA == 1 %]
    <li><a href="http://amigo.geneontology.org" title="Use the stable public version of AmiGO"><small>[Use stable AmiGO]</small></a></li>
    [% ELSE %]
    <li><a href="http://wiki.geneontology.org/index.php/AmiGO_Labs" title="Try out an experimental version of AmiGO"><small>[Try AmiGO Labs]</small></a></li>
    [% END %]
-->
  </ul>
  [% IF page_name == 'front' || page_content_layout == 'wide' %]
  [% ELSE %]
  <div id="menuSearchForm">
    <form action="[% public_base %]/search.cgi" id="bar-form" method="GET">
      <p>
	<label for="bar-query">Search GO</label><input class="textBox" type="text" name="search_query" size="25" value="[% HTML.escape(query) %]" id="bar-query">
	[% IF !search_constraint || search_constraint == 'term' %]
	<input type="radio" name="search_constraint" value="term" class="radio" checked id="term"> <label for="term">terms</label>
	<input type="radio" name="search_constraint" value="gp" class="radio" id="gp"> <label for="gp">genes or proteins</label>
	[% ELSE %]
	<input type="radio" name="search_constraint" value="term" class="radio" id="term"><label for="term">GO terms</label>
	<input type="radio" name="search_constraint" value="gp" class="radio" checked id="gp"><label for="gp">genes or proteins</label>
	[% END %]
	<input type="checkbox" id="bar-exact_match" name="exact_match" value="1" class="cbox"><label for="exact_match">exact match</label>
	[% IF session_id %]
	<input type="hidden" name="session_id" value="[% session_id %]">
	[% END %]
	<input type="hidden" name="action" value="new-search">
	<input type="submit" class="button">
      </p>
    </form>
  </div>
  [% END %] 
</div>
[% END %] 

[% IF BETA == 1 %]
<h2 id="shout">
  <a title="Go to AmiGO Labs explanation page"
     href="http://wiki.geneontology.org/index.php/AmiGO_Labs">
      You are using AmiGO Labs
  </a>
</h2>
[% END %]
[% IF TROUBLE == 1 %]
[%    TROUBLE_MESSAGE %]
[% END %]

<!-- End: public_header.tmpl -->
