<!-- Begin: forward_to_main.tmpl -->
<div class="contents">

  <h1>Experimental Software Base</h1>

  <div class="block">

    <h2>Experimental Software Base</h2>
    
    <p>
      This is the base of several experimental AmiGO apps. In spite of
      that, you will find nothing interesting here. Try the new
      <a href="amigo">AmiGO</a>.
    </p>

  </div>

</div>
<!-- End: forward_to_main.tmpl -->
