<!-- START: scratch.tmpl -->

<h2>Scratch</h2>

<!-- <div class="contents"> -->
<div>
  <div id="drilldown" style="padding:1.5em;">
    Waiting for server response.
  </div>
</div>

<!-- <div class="contents"> -->
<!--   <form action="[% base %]/page_test" id="timer-form" method="GET"> -->
<!--     <input type="hidden" name="mode" value="timeout"> -->
<!--     <input type="hidden" name="seconds" value="10"> -->
<!--     <input type="submit" class="button" value="Spinner"> -->
<!--   </form> -->
<!-- </div> -->

<!-- <div class="contents"> -->
<!--   [% f = 1 %] -->
<!--   [% WHILE f < 4 %] -->
<!--   <span id="foo[% f %]">[add [% f %]]</span> -->
<!--   <br /> -->
<!--   [% f = f + 1 %] -->
<!--   [% END %] -->
<!-- </div> -->

<div class="contents">

  [% i = 0 %]
  [% WHILE i < filler_n %]
  Scratch.
  [% i = i + 1 %]
  [% END %]
  Ahhh...

</div>

<!-- TODO: "style"ize these and tie to js listener for shield -->
<!-- <div class="cart-rules climbing"> -->
<!--   Cart -->
<!--   <img class="cart-image" src="[% cart_image %]"/> -->
<!-- </div> -->

<!-- END: scratch.tmpl -->
