<!-- START: noscript_js_limited_search.tmpl -->

<noscript>
  <div class="block notice">
    <h2>Search</h2>
    <p>
      For limited search functionality, please see the
      <a href="http://localhost/cgi-bin/amigo2/amigo/simple_search?query=example&golr_class=bbop_ont">simple
      search</a> page.
    </p>
  </div>
</noscript>

<!-- END: noscript-js-limited_search.tmpl -->
