<!-- Begin: not_found.tmpl -->
<div class="contents">  
  <h1>404 Error</h1>
  
  <div class="block">
    <h2>[% input_id %] Not Found</h2>
    
    <p>
      AmiGO 2 was unable to find the [% input_type %] <em>[% input_id %]</em>
      through normal channels--it may not be in our data set or it
      may go under a different identifier. Please try your
      [% input_type %] ([% input_id %]) through the
      <a title="Search" href="[% search_link %]">search interface</a>
      using synonyms or alternate identifiers.
    </p>
    <p>
      If you feel that this message was received in error, please contact
      the GO Helpdesk.
    </p>
  </div>
</div>
<!-- End: not_found.tmpl -->
