<!-- Begin: simple_search_form.tmpl -->
<!-- simple_search_form_info: [% simple_search_form_info %] -->

<form action="[% base %]/amigo" id="query-form" method="GET">
  <!-- <label for="query">Search GO</label> -->
  <br />
  <input type="hidden"
	 name="mode"
	 value="simple_search" />
  <input type="hidden"
	 name="page"
	 value="[% page || 1 %]" />
  <input type="text"
	 class="textBox"
	 name="query"
	 size="35"
	   value="[% query %]"
	 id="query" />
  <br />

  [% FOREACH infi IN simple_search_form_info %]
  <input type="radio"
	 name="golr_class"
  [%    IF golr_class == infi.id %]
	 value="[% infi.id %]" checked="yes" />
  [%    ELSE %]
	 value="[% infi.id %]" />
  [%    END %]
  [% infi.display_name %]
  &nbsp;&nbsp;
  [% END %]
  <br />

    <input type="submit"
	   class="button" 
	   value="Search" />
</form>

<!-- End: simple_search_form.tmpl -->
