<!-- Begin: status.tmpl -->
<div class="contents">

  <h1>Status</h1>

  <div class="block">

    <h2>This service is currently running.</h2>
    
    <p>
      heartbeat id: [% hid %]
    </p>

  </div>

</div>
<!-- End: status.tmpl -->
