<!-- Begin: abstract_help_link.tmpl -->
<a href="[% page_help_link %]" class=""><img height="15" alt="[More information on [% page_content_title %]]" title="More information on [% page_content_title_title %]" src="[% image_dir %]/question.icon.png" /></a>
<!-- End: abstract_help_link.tmpl -->
