<!-- Begin: abstract_help_link.tmpl -->
<a href="[% page_help_link %]" title="More information on [% FILTER html %][% page_content_title %][% END %]" class=""><span class="glyphicon glyphicon-question-sign"></span>
</a>
<!-- End: abstract_help_link.tmpl -->
