<!-- Begin: autocomplete_explanation.tmpl -->
<p class="amigo-autocomplete-explanation-info">
  This autocomplete search box will try and find matching terms
  and gene products as you type. If you select one from the
  dropdown list you will jump directly to that term or gene
  product's page. Otherwise, by hitting return or the search
  button, you will jump to an annotation search for your text.
</p>
<p class="amigo-autocomplete-explanation-info">
  If you wish to search in more detail or have (a lot!) more power
  over your search type and parameters, please visit AmiGO 2's
  advanced <a href="search">search</a> interface.
</p>
<!-- End: autocomplete_explanation.tmpl -->
