<!-- Begin: autocomplete_help_link.tmpl -->
<a href="http://wiki.geneontology.org/index.php/AmiGO_2_Manual:_Quick_Search" class=""><img height="15" alt="[More information on Quick Search]" title="More information on Quick Search" src="[% image_dir %]/question.icon.png" /></a>
<!-- End: autocomplete_help_link.tmpl -->
