<!-- START template: content_title.tmpl -->
[% IF content_title %]
<div class="page-header">
  <h1> [% FILTER html %][% page_content_title %][% END %][% IF page_content_subtitle && page_content_subtitle != "" %] <small> [% FILTER html %][% page_content_subtitle %][% END %]</small>[% END %]</h1>
</div>
[% END %]
<!-- END template: content_title.tmpl -->
