<!-- Begin: footer.tmpl -->
<!-- release_date = [% release_date %] -->
<!-- version = [% version %] -->
<!-- VERSION = [% VERSION %] -->
[% final_version = version %]
[% IF VERSION %]
[%    final_version = VERSION %]
[% END %]
<hr>
<footer>
  <div class="row">

    <!-- Left. -->
    <div class="col-md-4">
      <a href="https://geneontology.org/page/go-citation-policy#GO_Data" title="How to cite AmiGO data">Cite this data</a> &bull; <a href="http://geneontology.org/page/use-and-license" title="Terms of use for the GO project">Terms of use</a> &bull; <a href="http://help.geneontology.org" title="Contact the GO helpdesk">GO helpdesk</a>
      <br />
      Copyright &copy; 1999-2024 <a href="https://geneontology.org/" title="Gene Ontology home page">the Gene Ontology</a>
    </div>

    <!-- Middle. -->
    <div class="col-md-4" style="text-align: center;">
      [% IF BETA == 1 %]
      <!-- <a href="https://amigo.geneontology.org" title="Use the stable public version of AmiGO"><small>Return to AmiGO home</small></a> -->
      [% ELSE %]
      <!-- <a href="https://wiki.geneontology.org/index.php/AmiGO_Labs" title="Try out an experimental version of AmiGO"><small>Try AmiGO Labs</small></a> -->
      [% END %]
    </div>

    <!-- Right. -->
    <div class="col-md-4" style="text-align: right;">
      [% IF data_doi %]
      <a href="https://doi.org/[% data_doi %]">
	<img src="https://zenodo.org/badge/DOI/[% data_doi %].svg" alt="DOI">
      </a>
      <br />
      [% ELSE %]
      <!-- No DOI available. -->
      [% END %]
      [% # Remove confusing database date. %]
      [% IF is_goose_p %]
      <!-- GO database release [% release_name %] ([% release_type %]) -->
      GO database release [% release_date %]
      [% ELSE %]
      Last file loaded on [% last_load_date %],
      see <a href="[% base %]/amigo/load_details">full details</a>
      [% END %]
      <br />
      AmiGO 2 version: <a title="View release notes for the current version" href="https://wiki.geneontology.org/index.php/AmiGO_2_0">[% final_version %]</a>
      [% IF server_name %]([% server_name %])[% END %]
    </div>

  </div>
</footer>
[% IF GOOGLE_ANALYTICS_ID AND GOOGLE_ANALYTICS_ID.length > 1 %]
<!-- analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=[% GOOGLE_ANALYTICS_ID %]"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '[% GOOGLE_ANALYTICS_ID %]');
</script>
[% ELSE %]
<!-- no analytics -->
[% END %]
<!-- End: footer.tmpl -->
