[% IF VERBOSE %]<!-- START: grebe_entry_container_open.tmpl -->[% END %]
<!-- <div class="container"> -->
  <h2>[% grebe_question_label %]</h2>
  <ul class="list-group">
[% IF VERBOSE %]<!-- END: grebe_entry_container_open.tmpl -->[% END %]
