<!-- START template: header_search.tmpl -->
<!-- page_name          = [% page_name %] -->
<form action="[% base %]/amigo/search"
      class="navbar-form navbar-right"
      role="search"
      id="query-form"
      method="GET">

  <div class="form-group">
    <input
       type="text"
       class="form-control bbop-js-tooltip"
       placeholder="Quick search"
       title="Hint: add a space after completing a word to narrow the search."
       id="gsf-query">
       <!-- data-toggle="tooltip" -->
  </div>
  <button type="submit"
	  title="Search for annotations with the inputted text."
	  class="btn btn-default">Search</button>

  [% INCLUDE "common/autocomplete_help_link.tmpl" %]

</form>
<!-- END template: header_search.tmpl -->
