<!-- START template: info_rollup_start.tmpl -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle"
	 data-toggle="collapse"
	 title="Click to display more information."
	 href="#[% rollup_id %]">[% rollup_anchor %]&nbsp;<img height="15" alt="[Click to display more information.]" src="[% image_dir %]/question.icon.png" />
      </a>
    </h4>
  </div>
  <div id="[% rollup_id %]" class="panel-collapse collapse">
    <div class="panel-body">
<!-- END info_rollup_start.tmpl -->
    
