<!-- START template: info_rollup_end.tmpl -->
    </div>
[% IF rollup_footer && rollup_footer != "" %]
  <div class="panel-footer">[% rollup_footer %]</div>
[% END %]
  </div>
</div>
<!-- END info_rollup_end.tmpl -->
