<!-- START template: landing_item.tmpl -->
<div class="col-6 col-sm-6 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">[% landing_item_header %]</h3>
    </div>
    <div class="panel-body">
      <img src="[% landing_item_image %]"
	   title="Go to [% landing_item_header %]."
	   class="img-rounded img-responsive amigo-landing-img"
	   alt="[[% landing_item_header %]]" />
      <p class="">
	[% landing_item_body %]
      </p>
      <p class="">
	<a class="btn btn-primary" href="[% landing_item_link %]">Go &raquo;</a>
      </p>
    </div>
  </div>
</div>
<!-- END landing_item.tmpl -->
    
