<!-- Begin: load_detail_list.tmpl -->
<table id="[% list_table_id %]" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>version<img style="border: 0px;" src="[% image_dir %]/reorder.gif" title="Reorder by version" alt="[Reorder by version]" /></th>
      <th>load date<img style="border: 0px;" src="[% image_dir %]/reorder.gif" title="Reorder by load date" alt="[Reorder by load date]" /></th>
      <th>file<img style="border: 0px;" src="[% image_dir %]/reorder.gif" title="Reorder by file" alt="[Reorder by file]" /></th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH item IN load_detail_list %]
    <tr>
      <td>[% item.version %]</td>
      <td>[% item.time %]</td>
      <td>[% item.file %]</td>
    </tr>
    [% END %]
  </tbody>
</table>
<!-- End: load_detail_list.tmpl -->
