<!-- START: noscript_js_limited.tmpl -->
<noscript>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Notice</h3>
    </div>
    <div class="panel-body">
      <p>
	Some functionality on this page depends on JavaScript. To fully
	use the features of AmiGO 2, enable JavaScript in your browser
	and reload from the landing page.
      </p>
    </div>
  </div>
</noscript>
<!-- END: noscript-js-limited.tmpl -->
