<!-- START template: term_details_neighborhood_head.tmpl -->
<thead>
  <tr>
    <th style="width: 42%">subject<img style="border: 0px;" src="[% image_dir %]/reorder.gif" title="Reorder by subject" alt="[Reorder by subject]" /></th>
    <th style="width: 16%">relation<img style="border: 0px;" src="[% image_dir %]/reorder.gif" title="Reorder by relation" alt="[Reorder by relation]" /></th>
    <th style="width: 42%">object<img style="border: 0px;" src="[% image_dir %]/reorder.gif" title="Reorder by object" alt="[Reorder by object]" /></th>
  </tr>
</thead>

<!-- END template: term_details_neighborhood_head.tmpl -->
