<!-- START template: term_details_re_row.tmpl -->
<!-- subject_chunk = [% subject_chunk %] -->
<!-- object_chunk = [% object_chunk %] -->
<!-- even_odd_rows = [% even_odd_rows %] -->
<!-- munge_id_tail = [% munge_id_tail %] -->
<!-- count_type = [% count_type %] -->
<tr class="">
[% IF count_type == "subject" %]
  <td>
    <a href="[% subject_chunk.link %]"
	title="Go to [% subject_chunk.name %]">[% subject_chunk.name %] ([% subject_chunk.acc %])</a>
  </td>
  <td>
    <span class="nowrap">
      [% IF subject_chunk.inferred_p %]
      <img src="[% image_dir _ "/" _ subject_chunk.rel _ ".gif" %]"
	   alt="[Inferred [% subject_chunk.rel %] relation]"
	   title="Inferred [% subject_chunk.rel %] relation" />&nbsp;[% subject_chunk.rel %]&nbsp;(inferred)
      [% ELSE %]
      <img src="[% image_dir _ "/" _ subject_chunk.rel _ ".gif" %]"
	   alt="[[% subject_chunk.rel %] relation]"
	   title="[% subject_chunk.rel %] relation" />&nbsp;[% subject_chunk.rel %]&nbsp;
      [% END %]
    </span>
  </td>
  <td>
    [% object_chunk.name %]
  </td>
[% ELSIF count_type == "object" %]
  <td>
    [% subject_chunk.name %]
  </td>
  <td>
    <span class="nowrap">
      [% IF object_chunk.inferred_p %]
      <img src="[% image_dir _ "/" _ object_chunk.rel _ ".gif" %]"
	   alt="[Inferred [% object_chunk.rel %] relation]"
	   title="Inferred [% object_chunk.rel %] relation" />&nbsp;[% object_chunk.rel %]&nbsp;(inferred)
      [% ELSE %]
      <img src="[% image_dir _ "/" _ object_chunk.rel _ ".gif" %]"
	   alt="[[% object_chunk.rel %] relation]"
	   title="[% object_chunk.rel %] relation" />&nbsp;[% object_chunk.rel %]&nbsp;
      [% END %]
    </span>
  </td>
  <td>
    <a href="[% object_chunk.link %]"
    	title="Go to [% object_chunk.name %]">[% object_chunk.name %] ([% object_chunk.acc %])</a>
  </td>
[% END %]
</tr>
<!-- END template: term_details_re_row.tmpl -->
