<!-- START template: term_details_xrefs.tmpl -->
[% IF TERM_INFO.dbxref_links && TERM_INFO.dbxref_links.size > 0 %]
[% xref_hash = {} %]
[% FOREACH xref = TERM_INFO.dbxref_links;
db = xref.dbname;
IF xref_hash.$db;
xref_list = xref_hash.$db;
xref_list.push(xref);
xref_hash.$db = xref_list;
ELSE;
xref_list = [];
xref_list.push(xref);
xref_hash.$db = xref_list;
END;
END %]
<dl class="dl-horizontal amigo-detail-info">
  [% FOREACH db =  xref_hash.keys.sort %]
  <dt>
    <!-- <a class="img" -->
    <!-- 	 href="#[% db %]"><img src="[% image_dir %]/toggle-open.gif" -->
    <!-- 			       alt="toggle" id="[% db %]Img"></a> -->
    [% db %] <!-- ([% xref_hash.$db.size %]) -->
  </dt>
  <!-- <dd id="[% db %]"> -->
  <!--   <ul> -->
  [% FOREACH xref_item = xref_hash.$db %]
  <dd>
    <!-- <li> -->
    [% xref_key = xref_item.key;
    db_link = xref_item.link;
    IF db_link %]
    <a href="[% db_link %]"
       title="View [% xref_key %] in [% db %]">[% xref_key %]</a>
    [% ELSE %]
    [%    xref_key %]
    [% END;
    IF xref_item.xref_desc %] [% xref_item.xref_desc %][% END %]
    <!-- </li> -->
  </dd>
  [% END %]
  <!--   </ul> -->
  <!-- </dd> -->
  [% END %]
</dl>

[% ELSE %]

[%    IF GONUTS_SUCCESS || wikipedia_label %]
[%       IF GONUTS_SUCCESS %]
<dd>
  <!-- <img height="16px" src="[% image_dir %]/gonuts.link.jpg" alt="GONUTS" /> --><small><strong>GONUTS</strong></small> <a href="[% GONUTS_PAGE_URL %]" title="Community note for [% GONUTS_PAGE_TITLE %]">[% IF GONUTS_TOTAL_COUNT > 0 %]View or edit[% ELSE %]Add[% END %]</a> usage comments for this term on the <abbr title="GO Normal Usage Tracking System" class="initialism">GONUTS</abbr> wiki.
</dd>
[%       END %]
[%       IF wikipedia_label %]
<dd>
  <!-- <img height="18px" src="[% image_dir %]/wikipedia.link.png" alt="Wikipedia" /> --><small><strong>Wikipedia</strong></small> <a href="[% wikipedia_link %]" title="Wikipedia page for [% wikipedia_label %]">View and edit</a> information about this term on Wikipedia.
</dd>
[%       END %]
[%    ELSE %]
<h5>None.</h5>
[%    END %]
[% END %]
<!-- END template: term_details_xrefs.tmpl -->
