<!-- START template: term_details_lineage.tmpl -->

<!-- <h4>Term lineage for [% TERM_INFO.name %], including inferred links:</h4> -->
<ul class="list-unstyled">
[%# Ancestor terms. %]
[% d = 0 %]
[% IF PARENT_CHUNKS_BY_DEPTH && MAX_DEPTH > 0 %]
[%    WHILE d <= MAX_DEPTH %]
[%       IF PARENT_CHUNKS_BY_DEPTH.$d %]
[%          ANCESTOR_CHUNKS = PARENT_CHUNKS_BY_DEPTH.$d %]
[%          FOREACH anc IN ANCESTOR_CHUNKS %]
[%             tmp_acc = anc.acc %]
[%             graph_entry = anc %]
[%             number_of_spaces = d %]
[%             INCLUDE common/term_details_entry.tmpl %]
[%          END %]
[%       END %]
[%       d = d + 1 %]
[%    END %]
[% ELSE %]
[%    d = d + 1 %]
[% END %]

[%# Current term. %]
[% graph_entry = TERM_INFO %]
[% number_of_spaces = d - 1 %]
[% override_image = image_dir _ "/" _ "term_lineage_wedge.png" %]
[% override_title = "Current term" %]
[% override_link = "1" %]
[% override_bold = "1" %]
[% tmp_acc = graph_entry.acc %]
[% INCLUDE common/term_details_entry.tmpl %]
[% # Reset subroutine values. %]
[% override_image = "" %]
[% override_title = "" %]
[% override_link = "" %]
[% override_bold = "" %]

[%# Child terms. %]
[% IF CHILD_CHUNKS && CHILD_CHUNKS.size > 0 %]
[%    FOREACH desc IN CHILD_CHUNKS %]
[%       tmp_acc = desc.acc %]
[%       graph_entry = desc %]
[%       number_of_spaces = d %]
[%       INCLUDE common/term_details_entry.tmpl %]
[%    END %]
[% ELSE %]
[% END %]
</ul>
<!-- END template: term_details_lineage.tmpl -->
